.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 72px;
	z-index: 100;
	background: url(../images/bg_header.jpg) repeat-x;
}
span.new_message{
	position: absolute;
	top: -5px;
	right: -4px;
	text-shadow: 0 0 10px #fff;
	font-size: 12px;
	line-height: 28px;
	text-align: center;
	color: #fff;
}
.main_nav{
	background: url(../images/main_nav_bg.png) no-repeat;
	max-width: 517px;
	flex:0 0 517px;
	height: 64px;
	ul{
		margin: 7px 0 0 15px;
	}
	a{
		display: block;
		width: 53px;
		height:50px;
		position: relative;
		
		i{
			position: absolute;
			top: 50%;
			left: 50%;
			transform:translate(-50%,-50%);
			&.mn_item1{
				margin-top: -2px;
				margin-left: 2px;
			}
			&.mn_item2{
				margin-top: -1px;
				margin-left: -4px;
			}
			&.mn_item3{
				margin-top: -1px;
				margin-left: 0;
			}
			&.mn_item4{
				margin-top: -2px;
				margin-left: 1px;
			}
			&.mn_item5{
				margin-top: -2px;
				margin-left: 0;
			}
			&.mn_item6{
				margin-top: -1px;
				margin-left: -1px;
			}
			&.mn_item7{
				margin-top: -1px;
				margin-left: 0;
			}
			&.mn_item8{
				margin-top: 0;
				margin-left: -3px;
			}
			&.mn_item9{
				margin-top: -2px;
				margin-left: -3px;
			}
		}
	}
	li{
		&:hover,&.show{
			.mn_item1{
				@include sprite($mn_item1_hover);
				margin: 0;
				margin-top: 2px;
			}
			.mn_item2{
				@include sprite($mn_item2_hover);
				margin: 0;
				margin-top: 1px;
			}
			.mn_item3{
				@include sprite($mn_item3_hover);
				margin: 0;
				margin-top: 2px;
			}
			.mn_item4{
				@include sprite($mn_item4_hover);
				margin-left: 1px;
				margin-top: 1px;
			}
			.mn_item5{
				@include sprite($mn_item5_hover);
				margin-left: 0;
				margin-top: 2px;
			}
			.mn_item6{
				@include sprite($mn_item6_hover);
				margin-left: 0;
				margin-top: 2px;
			}
			.mn_item7{
				@include sprite($mn_item7_hover);
				margin-left: -1px;
				margin-top: 1px;
			}
			.mn_item8{
				@include sprite($mn_item8_hover);
				margin-left: -2px;
				margin-top: 3px;
			}
			.mn_item9{
				@include sprite($mn_item9_hover);
				margin-left: -2px;
				margin-top: 1px;
			}
		}
	}
	em{
		display: none;
	}
	.user_box,.roll{
		display: none;
	}
	@media screen and (max-width: 1350px) {
		max-width: 80px;
		flex:0 0 80px;
		background-position: 100% 0;
		.user_box{
			display: block;
			position: relative;
			top: 0;
			left: 0;
			margin-bottom: 15px;
		}
	}
	@media screen and (max-width: 720px){
		.roll{
			display: block;
			position: static;
		}
		.center_mob{
			.user_box,.roll{
				margin-left: auto !important;
				margin-right: auto !important;
			}
			.list_resources{
				justify-content:center;
			}
		}
	}
}
.main_nav_btn{
	display: none;
	@media screen and (max-width: 1350px) {
		display: block;
		width: 30px;
		height: 30px;
		cursor: pointer;
		margin-top: 16px;
		margin-left: 11px;
		img{
			display: block;
			max-width: 100%;
			height: auto;
			border-radius: 50%;
		}
	}
}
.header_middle{
	@media screen and (max-width: 1350px) {
		.pseudo_select {
			margin-left: auto;
		}
		.list_resources {
			justify-content:space-around;
		}
	}
}
.dropdown_menu{
	max-width: 300px;
	width: 100%;
	background: url(../images/dropdown_menu_bg.png) no-repeat;
	background-size: 100% 100%;
	padding: 0;
	a{
		text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.75);
		padding-top: 10px;
		padding-bottom: 10px;
		color: #b1b1b1;
		font-size: 16px;
		line-height: 20px;
		width: 100%;
		white-space: normal;
		height: auto;
		background: url(../images/dropdown_menu_border.png) no-repeat 0 100%;
		background-size: 100% auto;
		&:last-child{
			background: none;
		}
		&:hover{
			background: url(../images/dropdown_menu_hover.png) repeat;
			color: #fff;
			background-size: 100% 100%;
		}
	}
}
.close_nav{
	display: none;
}
.main_nav_content {
	.list_resources{
		display: none !important;
		@media screen and (max-width: 720px) {
			display: flex !important;
			border-bottom: 1px solid #fff;
			margin-bottom: 10px !important;
		}
	}
	@media screen and (max-width: 1350px) {
		.main_nav_list{
			flex-direction:column;
			margin: 0;
			>li{
				> a{
					display: flex;
					align-items:center;
					width: auto;
					height: auto;
					padding: 0;
					.tablet_title{
						display: block;
					}
					.new_message{
						position: static;
						margin-left: 10px;
						flex: 0 0 30px;
						max-width: 30px;
					}
					> b{
						flex: 0 0 50px;
						max-width: 50px;
						height: 50px;
						position: relative;
					}
				}
				&.show{
					.tablet_title{
						color: #edb20f;
					}
				}
				>.dropdown_menu {
					position: relative !important;
					float: none;
					transform:none !important;
					max-width: 100%;
					background: #000;
					margin-bottom: 10px;
					a{
						background: none;
					}
				}
			}
		}
	}
}
.menu_mob_styles{
	@media screen and (max-width: 1350px) {
		// display: none;
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100vh;
		overflow: auto;
		background-color: rgb(51, 51, 51);
		z-index: 100;
		padding: 15px;
		padding-right: 40px;
		transition: all 0.3s ease;
		&.active{
			left: 0;
		}
		&.animation_at_right {
			left: auto;
			right: -100%;
			&.active{
				right: 0;
			}
		}
		em{
			font-size: 20px;
		}
		.close_nav{
			width: 30px;
			height: 30px;
			display: block;
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
			z-index: 101;
			&:after,&:before{
				content: '';
				width: 100%;
				height: 3px;
				background: #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				transform:translate(-50%,-50%) rotate(-45deg);
				transform-origin:50% 50%;
			}
			&:before{
				transform:translate(-50%,-50%) rotate(45deg);
			}
		}
	}
}
.tablet_title{
	color: #fff;
	font-style: normal;
	display: none;
}
.user_nav{
	height: 64px;
	width: 307px;
	flex:0 0 307px;
	background: url(../images/user_nav.png) no-repeat;
	background-size:  100%;
	padding-left: 30px;
	padding-right: 10px;
	ul{
		margin: 15px 0 0 0;
		li{
			width: 40px;
			height: 40px;
			em{
				display: none;
			}
			.new_message{
				top: -10px;
				right: -10px;
			}
		}
		a{
			display: block;
			position: relative;
			height: 100%;
			i{
				position: absolute;
				top: 50%;
				left: 50%;
				transform:translate(-50%,-50%);
				&.chat_small{
					width: 31px;
					height: 31px;
				}
			}
			&:hover{
				.user_1{
					@include sprite($user_1_hover);
					margin-top: -3px;
					margin-left: 1px;
				}
				.user_2{
					@include sprite($user_2_hover);
					margin-top: -1px;
				}
				.user_3{
					@include sprite($user_3_hover);
					margin-top: -4px;
				}
				.user_4{
					@include sprite($user_4_hover);
					margin-top: -1px;
				}
				.user_5{
					@include sprite($user_5_hover);
					margin-top: -3px;
				}
			}
		}
	}
	@media screen and (max-width: 1350px) {
		max-width: 70px;
		flex:0 0 70px;
		background-size: auto;
		.user_nav_list{
			flex-direction:column;
			// max-width: 300px;
			margin: 0 auto;
			width: 100%;
			li{
				height: auto;
				width: auto;
				
				// i{
				// 	position: static;
				// 	transform:none;
				// }
				a{
					display: flex;
					align-items:center;
					max-width: 95%;
					&:hover{
						text-decoration: none;
					}
				}
				b{
					flex: 0 0 50px;
					max-width: 50px;
					height: 50px;
					position: relative;
				}
				.new_message{
					position: static;
					order:3;
					margin-left: 10px;
				}
			}
			.tablet_title{
				display: block;
			}
		}
		.message_nav{
			position: static;
			// max-width: 300px;
			margin: 0 auto;
			width: 100%;
			border-top: 1px solid #fff;
			margin-bottom: 10px;
			a{
				display: flex;
				align-items:center;
				padding-left:15px;
				max-width: 95%;
				margin: 0;
				&:hover{
					text-decoration: none;
				}
			}
			b{
				flex: 0 0 50px;
				max-width: 50px;
				height: 50px;
				position: relative;
				i{
					position: absolute !important;
					top: 50%;
					left: 0;
					transform:translateY(-50%) !important;
				}
			}
			.tablet_title{
				display: block;
			}
			.chats_part{
				background: none;
				width: 100%;
				height: auto;
				li{
					text-align: left;
					padding-top: 10px;
				}
			}
			.help_button{
				width: 100%;
				height: auto;
				margin-top: 10px;
				.new_message{
					position: static;
					margin-left: 10px;
				}
			}
		}
	}
}
.header_middle{
	flex-grow: 1;
	max-width: 100%;
	flex-basis: 0;
	width: 100%;
}
.btn_user_nav{
	display: none;
}
.btn_nav{
	width: 25px;
	height: 25px;
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
	right: 10px;
	cursor: pointer;
	em{
		width: 100%;
		height: 3px;
		display: block;
		border-radius: 4px;
		background: #f1a327;
		position: absolute;
		top: 50%;
		transform:translateY(-50%);
		&:before,&:after{
			content: '';
			width: 100%;
			height: 3px;
			display: block;
			border-radius: 4px;
			background: #f1a327;
			position: absolute;
			right: 0;
			top: -8px;
		}
		&:after{
			top: auto;
			bottom: -8px;
		}
	}
	@media screen and (max-width: 1350px) {
		display: block;
	}
}
.pseudo_select{
	&.pseudo_select_maxwidth{
		.btn{
			span{
				max-width: 200px;
				overflow: hidden;
				display: block;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}
	.btn{
		font-size: 16px;
		color: #d88e2e;
		&:hover,&:active,&:focus{
			color: #d88e2e;
		}
		&.dropdown-toggle{
			&:after{
				@include sprite($arrow_down);
				border: 0;
				position: absolute;
				top: 50%;
				right: 0;
				transform:translateY(-50%);
			}
		}
	}
	&.show{
		.btn{
			&.dropdown-toggle{
				&:after{
					@include sprite($arrow_down_white);
				}
			}
		}
	}
	.dropdown-menu{
		width: 300px;
		max-height: 300px;
		overflow: auto;
		background-color: rgba(51, 51, 51, 0.98);
		li{
			border-bottom: 1px solid #222;
			&:last-child{
				border-bottom: 0;
			}
		}
		a{
			font-size: 16px;
			line-height: 18px;
			color: #d88e2e;
			text-shadow: 1px 1px 1px black, 0 0 1em rgba(0,0,0,0.5);
			padding: 10px;
			display: block;
			width: 100%;
			&:hover{
				text-decoration: none;
				text-shadow: none;
				color: #333;
				background: #d88e2e;
				border-radius: 3px;
			}
		}
		.sub_drop{
			a{
				flex-grow: 1;
				max-width: 100%;
				flex-basis: 0;
				width: 100%;
				border-bottom-right-radius: 0;
				border-top-right-radius: 0;
			}
			.sub_drop_mmenu{
				display: none;
				li{
					border: 0;
					margin-top: 2px;
					a{
						border-radius: 3px !important;
					}
				}
			}
			span{
				max-width: 40px;
				flex:0 0 40px;
				background: #d88e2e;
				position: relative;
				cursor: pointer;
				border-bottom-right-radius: 3px;
				border-top-right-radius: 3px;
				&:before{
					content: '';
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background: #000;
					position: absolute;
					top: 50%;
					left: 50%;
					transform:translate(-50%,-50%);
				}
				i{
					display: block;
					height: 100%;
					width: 100%;
					&:before{
						content: '';
						width: 5px;
						height: 5px;
						border-radius: 50%;
						background: #000;
						position: absolute;
						top: 50%;
						left: 50%;
						transform:translate(-50%,-50%);
						margin-top: -7px;
					}
					&:after{
						content: '';
						width: 5px;
						height: 5px;
						border-radius: 50%;
						background: #000;
						position: absolute;
						top: 50%;
						left: 50%;
						transform:translate(-50%,-50%);
						margin-top: 7px;
					}
				}
			}
		}
	}

}
.list_resources{
	font-size: 14px;
	color: #ccc;
	i{
		margin-right: 4px;
	}
	span{
		text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.75);
	}
}
.gold_line{
	width: 127px;
	height: 33px;
	
	background: url(../images/bg_gold.png) no-repeat;
	background-size: 100% 100%;
	a{
		color: #b1b1b1;
	}
}
.list_money{
	margin-right: -19px !important;
	a{
		font-size: 16px;
		line-height: 33px;
		padding-left: 50px;
		display: block;
		height: 100%;
		&:hover{
			text-decoration: none;
		}
	}
	.crystal_line{
		margin-left: -11px;
		margin-top: 2px;
	}
}
.crystal_line{
	height: 26px;
	width: 127px;
	background: url(../images/bg_crist.png) no-repeat;
	background-size: 100% 100%;
	a{
		color: #f1a327;
	}
}
.list_money_etc_style{
	display: none;
	li{
		flex: 0 0 auto;
		width: auto;
		max-width: none;
		a{
			padding: 0;
			white-space: nowrap;
			font-size: 0;
			*{
				display: inline-block;
				vertical-align: middle;
			}
			em{
				width: 20px;
				margin-right: 5px;
			}
			span{
				font-size: 14px;
			}
		}
	}
}
@media screen and (max-width: 720px) {
	.list_money_etc_style{
		display: inline-flex;
	}
	.header_middle_bottom{
		text-align: center;
	}
	.header_middle .list_resources{
		display: none !important;
	}
	.header_middle_top {
		.list_money{
			display: none !important;
		}
	}
	.header_middle {
		.pseudo_select{
			margin: 0 auto !important;
		}
		.pseudo_select.pseudo_select_maxwidth .btn span{
			max-width: 110px;
		}
	}
}