@font-face {
    font-family: 'Marta_bold';
    src: url('../fonts/Marta-Bold.eot');
    src: url('../fonts/Marta-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Marta-Bold.woff2') format('woff2'),
        url('../fonts/Marta-Bold.woff') format('woff'),
        url('../fonts/Marta-Bold.ttf') format('truetype'),
        url('../fonts/Marta-Bold.svg#Marta') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Marta';
    src: url('../fonts/Marta-Italic.eot');
    src: url('../fonts/Marta-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Marta-Italic.woff2') format('woff2'),
        url('../fonts/Marta-Italic.woff') format('woff'),
        url('../fonts/Marta-Italic.ttf') format('truetype'),
        url('../fonts/Marta-Italic.svg#Marta') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	font: 14px/17px 'Marta', sans-serif !important;
}
a,button{
	outline: none;
}
.minw_0{
    min-width: 0;
}
.icn{
	display: inline-block;
}
.ang_l, .ang_r, .ang_lb, .ang_rb {
    position: absolute;
    width: 55px;
    height: 59px;
    z-index: 10;
    background: url(../images/bg_angl.png) no-repeat;
}
.w170{
    width: 190px;
}
.fz_14{
    font-size: 14px !important;
    line-height: 16px !important;
}
.ang_l {
    top: 64px;
    left: 0;
}
.ang_r {
    top: 64px;
    right: 0;
    transform: scale(-1, 1);
}
.ang_lb {
    bottom: 0;
    left: 0;
    transform: scale(1, -1);
}
.ang_rb {
    bottom: 0;
    right: 0;
    transform: scale(-1, -1);
}
.fr_r {
    right: 0;
}
.fr_l {
    left: 0;
}
.fr_l, .fr_r {
    top: 71px;
    width: 7px;
    height: calc(100vh - 71px);
}
.fr_b {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
}
.fr_r,.fr_l,.fr_b{
	background-image: url(../images/br_1.png);
	z-index: 5;
	position: absolute;
}
.strelkaleft, .strelkatop, .strelkabot, .strelkatop_center, .strelkaright {
    position: relative;
    z-index: 40;
}
.strelkabot::before {
	content: "";
	position: absolute;
	top: 23px;
	right: -100px;
	width: 118px;
	height: 118px;
	background: url(../images/strelkatop-left.png) no-repeat center;
	z-index: 100000;
	background-size: 79%;
	animation: strelkabot-animation infinite 2s ease-in-out;
}
.strelkaleft::before {
	content: "";
	position: absolute;
	bottom: -93px;
	left: -100px;
	width: 118px;
	height: 118px;
	background: url(../images/strelkatop-right.png) no-repeat center;
	z-index: 100000;
	background-size: 79%;
	animation: strelkaleft-animation infinite 2s ease-in-out;
}
.strelkaright::before {
	content: "";
	position: absolute;
	top: calc(-50% - 69px);
	right: calc(-50% - 69px);
	width: 118px;
	height: 118px;
	background: url(../images/strelkabot-left.png) no-repeat center;
	z-index: 100000;
	background-size: 79%;
	animation: strelkaright-animation infinite 2s  ease-in-out;
}

.strelkatop_center::before {
	content: "";
	position: absolute;
	top: -86px;
	left: -10px;
	width: 118px;
	height: 118px;
	background: url(../images/strelkabot-right.png) no-repeat center;
	z-index: 100000;
	background-size: 79%;
}

.strelkatop::before {
	content: "";
	position: absolute;
	top: -86px;
	left: -80px;
	width: 118px;
	height: 118px;
	background: url(../images/strelkabot-right.png) no-repeat center;
	z-index: 100000;
	background-size: 79%;
	animation: strelkatop-animation infinite 2s ease-in-out;
}
@keyframes strelkaright-animation {
    0% {
        transform: translate(30px, -30px);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(30px, -30px);
    }
}
@keyframes strelkabot-animation {
    0% {
        transform: translate(30px, 30px);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(30px, 30px);
    }
}
@keyframes strelkaleft-animation  {
    0% {
        transform: translate(-30px, 30px);
    }
    50% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(-30px, 30px);
    }
}
@keyframes strelkatop-animation {
    0% {
        transform: translate(-30px, -30px);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-30px, -30px);
    }
}
.btn-texture{
    background:url(../images/btn_texture.png);
    background-size: cover !important;
    border-color: #000;
    &:hover{
        color: #d88e2e;
        border-color: #d88e2e;
    }
}
.bg_light_texture{
    background:url(../images/bg_light.png);
}
.bg-black{
    background: #000;
}
.btn-black{
    background: #000;
    color: #fff;
    &:hover{
        color: #fff;
    }
}
.dropdown-menu{
    &.bg-black{
        a{
            &:hover{
                background: none;
                color: #d88e2e !important;
            }
        }
    }
}
.form_control_black{
    background: #000;
    border-color: #000;
    color: rgba(#edb20f, .5);
    &:focus{
        background: #000;
        border-color: #fff;
        color: rgba(#edb20f, .7);
    }
    .is_invalid &{
        color: rgba(#c2130e,.7);
    }
    &.form-control[readonly]{
       background: #000;
    border-color: #000;
    color: rgba(#edb20f, .5);
    outline: none;
     }
}
.form_control_small{
    max-width: 80px;
    flex:0 0 80px;
}
.pseudo_select_black{
    .dropdown-toggle{
        &:after{
            position: absolute;
            top: 50%;
            transform:translateY(-50%);
            right: 10px;
        }
    }
    .dropdown-menu{
        width: 100%;
    }
}
@media screen and (max-width: 380px){
    .col_xxs_12,.form_control_xxs_100{
        max-width: 100%;
        flex:0 0 100%;
    }
    .xxs_btn_block{
        display: block;
        width: 100% !important;
    }
}
.religion_emblem{
    img{
        max-width: 35px;
    }
}
.title_td{
    font-size: 16px;
    line-height: 18px;
    &:hover{
        text-decoration: none;
    }
}
.table_cstm{
    border-top: 2px solid rgba(204, 204, 204, .1);
    // table-layout: fixed;
    td{
        vertical-align: middle;
        padding:5px 3px;
        background-color: rgba(60, 60, 60, .5);
    }
    th,td{
        border-bottom: 2px solid rgba(204, 204, 204, .1);
    }
}
.fz_16{
    font-size: 16px;
    line-height: 18px;
}
.func_td{
    width: 130px;
    .dropdown,.jcf-select{
        width: 130px;
    }
}
.func_td_160{
    width: 160px;
    .dropdown,.jcf-select{
        width: 160px;
    }
}
.btn_more {
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: 15px;
}
.custom_radio{
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label{
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #ccc;
        font-size: 16px;
        line-height: 18px;
    }
     [type="radio"]:checked + label{
        color: #edb20f;
     }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        box-shadow:inset 0 -1px 2px rgba(#fff,.2);
        border-radius: 50%;
        background: #191817;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 8px;
        height: 8px;
        background: #edb20f;
        position: absolute;
        top: 5px;
        left: 5px;
        border-radius: 50%;
        transition: all 0.2s ease;
        box-shadow:inset 0 -1px 2px rgba(0,0,0,0.5);
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        transform: scale(1);
    }
    &.custom_radio_small{
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label{
            font-size: 13px;
        }
        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before{
            top: 1px;
        }
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after{
            top: 6px;
        }
    }
}
.custom_checkbox{
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
        position: absolute;
        left: -9999px;
    }
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        font-size: 14px;
        line-height: 16px;
        color: #d88e2e;
        padding-top: 5px;
        padding-bottom: 3px;
        margin: 0;
    }
    /* checkbox aspect */
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        background: #000;
        border-radius: 4px;
        border: 1px solid #343a40;
        box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    }
    /* checked mark aspect */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
        content: '';
        width: 10px;
        height: 6px;
        border-left: 2px solid #d88e2e;
        border-bottom: 2px solid #d88e2e;
        position: absolute;
        top: 8px;
        left: 7px;
        transition: all .2s;
        transform:rotate(-40deg) skewY(-4deg) !important;
    }
     [type="checkbox"]:checked + label:before{
        border-color:rgba(#d88e2e,.5);
     }
    /* checked mark aspect changes */
    [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
    }
    [type="checkbox"]:checked + label:after {
        opacity: 1;
        transform:rotate(-40deg) skewY(-4deg) scale(1) !important;
    }
    /* disabled checkbox */
    [type="checkbox"]:disabled:not(:checked) + label:before,
    [type="checkbox"]:disabled:checked + label:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd;
    }
    [type="checkbox"]:disabled:checked + label:after {
        color: #999;
    }
    [type="checkbox"]:disabled + label {
        color: #aaa;
    }
    &.custom_checkbox_in_bottom{
        [type="checkbox"]:not(:checked) + label,
        [type="checkbox"]:checked + label{
            padding-left: 0;
            padding-top: 0;
            padding-bottom: 39px;
        }
        [type="checkbox"]:not(:checked) + label:before,
        [type="checkbox"]:checked + label:before{
            top: auto;
            bottom: 0;
        }
        [type="checkbox"]:not(:checked) + label:after,
        [type="checkbox"]:checked + label:after{
            top: auto;
            bottom: 10px;
        }
    }
    &.checkbox_no_label{
        width: 24px;
        height: 24px;
        max-width: 24px;
        flex:0 0 24px;
        [type="checkbox"]:not(:checked) + label,
        [type="checkbox"]:checked + label{
            padding: 0;
            height: 24px;
            width: 24px;
        }
    }
}
.color_piker{
    .jscolor {
        outline: none;
        width: 34px;
        height: 34px;
        border: 1px solid #b0b0b0;
        border-radius: 50%;
        font-size: 0;
        text-indent: -9999px;
        cursor: pointer;
    }
}
.progress_custom{
    background: rgba(21, 20, 20, 0.9);
    box-shadow:inset 0 0 6px rgba(#fff,.3);
    height: 7px;
}
.label_img{
    width: 50px;
    height: 50px;
    display: block;
    background: url(../images/circle.png) no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);
    &.state_img{
        // background: url(../images/bg_perk.png) no-repeat;
    }
    em{
        display: block;
        border-radius: 50%;
        position: absolute;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            max-width: 100%;
            max-height: 100%;
            border-radius: 50%;
            display: block;
            transform: translate(-50%, -50%) scale(1.2);
        }
    }
}
.fz_20{
    font-size: 20px !important;
}
.fz_12{
    font-size: 12px !important;
    line-height: 14px !important;
}
.table_custom{
    // table-layout: fixed;
    width: 100%;
    // min-width: 800px;
    &.table_custom_long{
        min-width: 700px;
    }
    td,th{
        vertical-align: middle;
    }
    td,th{
        border-bottom: 1px solid #343a40 !important;
    }
    tbody tr{
        &:last-child{
            td{
                border-bottom: 0 !important;
            }
        }
        &:nth-child(even){
           td{
             background: rgba(#000,.2);
           }
        }
    }
    th{
        background: rgba(#000,.2) !important;
    }
}
.pager_list{
    .active{
        a{
            border-color: #d88e2e !important;
            color: #d88e2e !important;
        }
    }
}
.text_underline{
    text-decoration: underline;
}
.troops_txt{
   flex: 1 1 auto;
width: 1%;
}
.type_troops{
    width: 200px;
}
.col_fix_50{
    max-width: 50px;
    flex:0 0 50px;
}
.col_fix_100{
    max-width: 100px;
    flex:0 0 100px;
}
.func_td_260{
    width: 260px !important;
}
.jcf-range{
    width: 100%;
    min-width: 70px;
    margin: 0;
    .jcf-range-wrapper{
        margin: 0;
        background: none;
        box-shadow: inset 0 0 6px rgba(#edb20f, 0.3);
    }
    .jcf-range-track{
        margin-right: 18px;
        height: 7px;
    }
    .jcf-range-handle{
        border-color: transparent !important;
        cursor: pointer;
        background: #edb20f;
        margin: -6px 0 0 0;
    }
    &.jcf-focus{
        .jcf-range-handle{
            margin: -6px 0 0 0;
        }
    }
}