// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-down-name: 'arrow_down';
$arrow-down-x: 299px;
$arrow-down-y: 113px;
$arrow-down-offset-x: -299px;
$arrow-down-offset-y: -113px;
$arrow-down-width: 13px;
$arrow-down-height: 9px;
$arrow-down-total-width: 361px;
$arrow-down-total-height: 305px;
$arrow-down-image: '../images/sprite.png';
$arrow-down: (299px, 113px, -299px, -113px, 13px, 9px, 361px, 305px, '../images/sprite.png', 'arrow_down', );
$arrow-down-white-name: 'arrow_down_white';
$arrow-down-white-x: 299px;
$arrow-down-white-y: 127px;
$arrow-down-white-offset-x: -299px;
$arrow-down-white-offset-y: -127px;
$arrow-down-white-width: 13px;
$arrow-down-white-height: 9px;
$arrow-down-white-total-width: 361px;
$arrow-down-white-total-height: 305px;
$arrow-down-white-image: '../images/sprite.png';
$arrow-down-white: (299px, 127px, -299px, -127px, 13px, 9px, 361px, 305px, '../images/sprite.png', 'arrow_down_white', );
$chat-name: 'chat';
$chat-x: 0px;
$chat-y: 0px;
$chat-offset-x: 0px;
$chat-offset-y: 0px;
$chat-width: 67px;
$chat-height: 67px;
$chat-total-width: 361px;
$chat-total-height: 305px;
$chat-image: '../images/sprite.png';
$chat: (0px, 0px, 0px, 0px, 67px, 67px, 361px, 305px, '../images/sprite.png', 'chat', );
$chat-1-name: 'chat_1';
$chat-1-x: 146px;
$chat-1-y: 191px;
$chat-1-offset-x: -146px;
$chat-1-offset-y: -191px;
$chat-1-width: 41px;
$chat-1-height: 40px;
$chat-1-total-width: 361px;
$chat-1-total-height: 305px;
$chat-1-image: '../images/sprite.png';
$chat-1: (146px, 191px, -146px, -191px, 41px, 40px, 361px, 305px, '../images/sprite.png', 'chat_1', );
$chat-1-hover-name: 'chat_1_hover';
$chat-1-hover-x: 100px;
$chat-1-hover-y: 191px;
$chat-1-hover-offset-x: -100px;
$chat-1-hover-offset-y: -191px;
$chat-1-hover-width: 41px;
$chat-1-hover-height: 40px;
$chat-1-hover-total-width: 361px;
$chat-1-hover-total-height: 305px;
$chat-1-hover-image: '../images/sprite.png';
$chat-1-hover: (100px, 191px, -100px, -191px, 41px, 40px, 361px, 305px, '../images/sprite.png', 'chat_1_hover', );
$chat-2-name: 'chat_2';
$chat-2-x: 254px;
$chat-2-y: 46px;
$chat-2-offset-x: -254px;
$chat-2-offset-y: -46px;
$chat-2-width: 40px;
$chat-2-height: 41px;
$chat-2-total-width: 361px;
$chat-2-total-height: 305px;
$chat-2-image: '../images/sprite.png';
$chat-2: (254px, 46px, -254px, -46px, 40px, 41px, 361px, 305px, '../images/sprite.png', 'chat_2', );
$chat-2-hover-name: 'chat_2_hover';
$chat-2-hover-x: 254px;
$chat-2-hover-y: 0px;
$chat-2-hover-offset-x: -254px;
$chat-2-hover-offset-y: 0px;
$chat-2-hover-width: 40px;
$chat-2-hover-height: 41px;
$chat-2-hover-total-width: 361px;
$chat-2-hover-total-height: 305px;
$chat-2-hover-image: '../images/sprite.png';
$chat-2-hover: (254px, 0px, -254px, 0px, 40px, 41px, 361px, 305px, '../images/sprite.png', 'chat_2_hover', );
$chat-small-name: 'chat_small';
$chat-small-x: 37px;
$chat-small-y: 239px;
$chat-small-offset-x: -37px;
$chat-small-offset-y: -239px;
$chat-small-width: 31px;
$chat-small-height: 31px;
$chat-small-total-width: 361px;
$chat-small-total-height: 305px;
$chat-small-image: '../images/sprite.png';
$chat-small: (37px, 239px, -37px, -239px, 31px, 31px, 361px, 305px, '../images/sprite.png', 'chat_small', );
$edit-name: 'edit';
$edit-x: 299px;
$edit-y: 96px;
$edit-offset-x: -299px;
$edit-offset-y: -96px;
$edit-width: 13px;
$edit-height: 12px;
$edit-total-width: 361px;
$edit-total-height: 305px;
$edit-image: '../images/sprite.png';
$edit: (299px, 96px, -299px, -96px, 13px, 12px, 361px, 305px, '../images/sprite.png', 'edit', );
$edit-hover-name: 'edit_hover';
$edit-hover-x: 332px;
$edit-hover-y: 291px;
$edit-hover-offset-x: -332px;
$edit-hover-offset-y: -291px;
$edit-hover-width: 13px;
$edit-hover-height: 12px;
$edit-hover-total-width: 361px;
$edit-hover-total-height: 305px;
$edit-hover-image: '../images/sprite.png';
$edit-hover: (332px, 291px, -332px, -291px, 13px, 12px, 361px, 305px, '../images/sprite.png', 'edit_hover', );
$help-ico-name: 'help_ico';
$help-ico-x: 72px;
$help-ico-y: 0px;
$help-ico-offset-x: -72px;
$help-ico-offset-y: 0px;
$help-ico-width: 63px;
$help-ico-height: 60px;
$help-ico-total-width: 361px;
$help-ico-total-height: 305px;
$help-ico-image: '../images/sprite.png';
$help-ico: (72px, 0px, -72px, 0px, 63px, 60px, 361px, 305px, '../images/sprite.png', 'help_ico', );
$help-ico-hover-name: 'help_ico_hover';
$help-ico-hover-x: 0px;
$help-ico-hover-y: 72px;
$help-ico-hover-offset-x: 0px;
$help-ico-hover-offset-y: -72px;
$help-ico-hover-width: 63px;
$help-ico-hover-height: 60px;
$help-ico-hover-total-width: 361px;
$help-ico-hover-total-height: 305px;
$help-ico-hover-image: '../images/sprite.png';
$help-ico-hover: (0px, 72px, 0px, -72px, 63px, 60px, 361px, 305px, '../images/sprite.png', 'help_ico_hover', );
$help-ico-small-name: 'help_ico_small';
$help-ico-small-x: 0px;
$help-ico-small-y: 191px;
$help-ico-small-offset-x: 0px;
$help-ico-small-offset-y: -191px;
$help-ico-small-width: 45px;
$help-ico-small-height: 43px;
$help-ico-small-total-width: 361px;
$help-ico-small-total-height: 305px;
$help-ico-small-image: '../images/sprite.png';
$help-ico-small: (0px, 191px, 0px, -191px, 45px, 43px, 361px, 305px, '../images/sprite.png', 'help_ico_small', );
$help-ico-small-hover-name: 'help_ico_small_hover';
$help-ico-small-hover-x: 50px;
$help-ico-small-hover-y: 191px;
$help-ico-small-hover-offset-x: -50px;
$help-ico-small-hover-offset-y: -191px;
$help-ico-small-hover-width: 45px;
$help-ico-small-hover-height: 43px;
$help-ico-small-hover-total-width: 361px;
$help-ico-small-hover-total-height: 305px;
$help-ico-small-hover-image: '../images/sprite.png';
$help-ico-small-hover: (50px, 191px, -50px, -191px, 45px, 43px, 361px, 305px, '../images/sprite.png', 'help_ico_small_hover', );
$mn-item1-name: 'mn_item1';
$mn-item1-x: 197px;
$mn-item1-y: 157px;
$mn-item1-offset-x: -197px;
$mn-item1-offset-y: -157px;
$mn-item1-width: 36px;
$mn-item1-height: 28px;
$mn-item1-total-width: 361px;
$mn-item1-total-height: 305px;
$mn-item1-image: '../images/sprite.png';
$mn-item1: (197px, 157px, -197px, -157px, 36px, 28px, 361px, 305px, '../images/sprite.png', 'mn_item1', );
$mn-item1-hover-name: 'mn_item1_hover';
$mn-item1-hover-x: 57px;
$mn-item1-hover-y: 137px;
$mn-item1-hover-offset-x: -57px;
$mn-item1-hover-offset-y: -137px;
$mn-item1-hover-width: 53px;
$mn-item1-hover-height: 48px;
$mn-item1-hover-total-width: 361px;
$mn-item1-hover-total-height: 305px;
$mn-item1-hover-image: '../images/sprite.png';
$mn-item1-hover: (57px, 137px, -57px, -137px, 53px, 48px, 361px, 305px, '../images/sprite.png', 'mn_item1_hover', );
$mn-item2-name: 'mn_item2';
$mn-item2-x: 254px;
$mn-item2-y: 166px;
$mn-item2-offset-x: -254px;
$mn-item2-offset-y: -166px;
$mn-item2-width: 33px;
$mn-item2-height: 34px;
$mn-item2-total-width: 361px;
$mn-item2-total-height: 305px;
$mn-item2-image: '../images/sprite.png';
$mn-item2: (254px, 166px, -254px, -166px, 33px, 34px, 361px, 305px, '../images/sprite.png', 'mn_item2', );
$mn-item2-hover-name: 'mn_item2_hover';
$mn-item2-hover-x: 0px;
$mn-item2-hover-y: 137px;
$mn-item2-hover-offset-x: 0px;
$mn-item2-hover-offset-y: -137px;
$mn-item2-hover-width: 52px;
$mn-item2-hover-height: 49px;
$mn-item2-hover-total-width: 361px;
$mn-item2-hover-total-height: 305px;
$mn-item2-hover-image: '../images/sprite.png';
$mn-item2-hover: (0px, 137px, 0px, -137px, 52px, 49px, 361px, 305px, '../images/sprite.png', 'mn_item2_hover', );
$mn-item3-name: 'mn_item3';
$mn-item3-x: 73px;
$mn-item3-y: 239px;
$mn-item3-offset-x: -73px;
$mn-item3-offset-y: -239px;
$mn-item3-width: 31px;
$mn-item3-height: 30px;
$mn-item3-total-width: 361px;
$mn-item3-total-height: 305px;
$mn-item3-image: '../images/sprite.png';
$mn-item3: (73px, 239px, -73px, -239px, 31px, 30px, 361px, 305px, '../images/sprite.png', 'mn_item3', );
$mn-item3-hover-name: 'mn_item3_hover';
$mn-item3-hover-x: 197px;
$mn-item3-hover-y: 53px;
$mn-item3-hover-offset-x: -197px;
$mn-item3-hover-offset-y: -53px;
$mn-item3-hover-width: 52px;
$mn-item3-hover-height: 48px;
$mn-item3-hover-total-width: 361px;
$mn-item3-hover-total-height: 305px;
$mn-item3-hover-image: '../images/sprite.png';
$mn-item3-hover: (197px, 53px, -197px, -53px, 52px, 48px, 361px, 305px, '../images/sprite.png', 'mn_item3_hover', );
$mn-item4-name: 'mn_item4';
$mn-item4-x: 332px;
$mn-item4-y: 0px;
$mn-item4-offset-x: -332px;
$mn-item4-offset-y: 0px;
$mn-item4-width: 29px;
$mn-item4-height: 31px;
$mn-item4-total-width: 361px;
$mn-item4-total-height: 305px;
$mn-item4-image: '../images/sprite.png';
$mn-item4: (332px, 0px, -332px, 0px, 29px, 31px, 361px, 305px, '../images/sprite.png', 'mn_item4', );
$mn-item4-hover-name: 'mn_item4_hover';
$mn-item4-hover-x: 140px;
$mn-item4-hover-y: 0px;
$mn-item4-hover-offset-x: -140px;
$mn-item4-hover-offset-y: 0px;
$mn-item4-hover-width: 52px;
$mn-item4-hover-height: 49px;
$mn-item4-hover-total-width: 361px;
$mn-item4-hover-total-height: 305px;
$mn-item4-hover-image: '../images/sprite.png';
$mn-item4-hover: (140px, 0px, -140px, 0px, 52px, 49px, 361px, 305px, '../images/sprite.png', 'mn_item4_hover', );
$mn-item5-name: 'mn_item5';
$mn-item5-x: 109px;
$mn-item5-y: 239px;
$mn-item5-offset-x: -109px;
$mn-item5-offset-y: -239px;
$mn-item5-width: 32px;
$mn-item5-height: 29px;
$mn-item5-total-width: 361px;
$mn-item5-total-height: 305px;
$mn-item5-image: '../images/sprite.png';
$mn-item5: (109px, 239px, -109px, -239px, 32px, 29px, 361px, 305px, '../images/sprite.png', 'mn_item5', );
$mn-item5-hover-name: 'mn_item5_hover';
$mn-item5-hover-x: 115px;
$mn-item5-hover-y: 137px;
$mn-item5-hover-offset-x: -115px;
$mn-item5-hover-offset-y: -137px;
$mn-item5-hover-width: 52px;
$mn-item5-hover-height: 48px;
$mn-item5-hover-total-width: 361px;
$mn-item5-hover-total-height: 305px;
$mn-item5-hover-image: '../images/sprite.png';
$mn-item5-hover: (115px, 137px, -115px, -137px, 52px, 48px, 361px, 305px, '../images/sprite.png', 'mn_item5_hover', );
$mn-item6-name: 'mn_item6';
$mn-item6-x: 35px;
$mn-item6-y: 275px;
$mn-item6-offset-x: -35px;
$mn-item6-offset-y: -275px;
$mn-item6-width: 30px;
$mn-item6-height: 30px;
$mn-item6-total-width: 361px;
$mn-item6-total-height: 305px;
$mn-item6-image: '../images/sprite.png';
$mn-item6: (35px, 275px, -35px, -275px, 30px, 30px, 361px, 305px, '../images/sprite.png', 'mn_item6', );
$mn-item6-hover-name: 'mn_item6_hover';
$mn-item6-hover-x: 197px;
$mn-item6-hover-y: 0px;
$mn-item6-hover-offset-x: -197px;
$mn-item6-hover-offset-y: 0px;
$mn-item6-hover-width: 52px;
$mn-item6-hover-height: 48px;
$mn-item6-hover-total-width: 361px;
$mn-item6-hover-total-height: 305px;
$mn-item6-hover-image: '../images/sprite.png';
$mn-item6-hover: (197px, 0px, -197px, 0px, 52px, 48px, 361px, 305px, '../images/sprite.png', 'mn_item6_hover', );
$mn-item7-name: 'mn_item7';
$mn-item7-x: 254px;
$mn-item7-y: 92px;
$mn-item7-offset-x: -254px;
$mn-item7-offset-y: -92px;
$mn-item7-width: 38px;
$mn-item7-height: 33px;
$mn-item7-total-width: 361px;
$mn-item7-total-height: 305px;
$mn-item7-image: '../images/sprite.png';
$mn-item7: (254px, 92px, -254px, -92px, 38px, 33px, 361px, 305px, '../images/sprite.png', 'mn_item7', );
$mn-item7-hover-name: 'mn_item7_hover';
$mn-item7-hover-x: 140px;
$mn-item7-hover-y: 54px;
$mn-item7-hover-offset-x: -140px;
$mn-item7-hover-offset-y: -54px;
$mn-item7-hover-width: 52px;
$mn-item7-hover-height: 49px;
$mn-item7-hover-total-width: 361px;
$mn-item7-hover-total-height: 305px;
$mn-item7-hover-image: '../images/sprite.png';
$mn-item7-hover: (140px, 54px, -140px, -54px, 52px, 49px, 361px, 305px, '../images/sprite.png', 'mn_item7_hover', );
$mn-item8-name: 'mn_item8';
$mn-item8-x: 254px;
$mn-item8-y: 205px;
$mn-item8-offset-x: -254px;
$mn-item8-offset-y: -205px;
$mn-item8-width: 39px;
$mn-item8-height: 28px;
$mn-item8-total-width: 361px;
$mn-item8-total-height: 305px;
$mn-item8-image: '../images/sprite.png';
$mn-item8: (254px, 205px, -254px, -205px, 39px, 28px, 361px, 305px, '../images/sprite.png', 'mn_item8', );
$mn-item8-hover-name: 'mn_item8_hover';
$mn-item8-hover-x: 197px;
$mn-item8-hover-y: 106px;
$mn-item8-hover-offset-x: -197px;
$mn-item8-hover-offset-y: -106px;
$mn-item8-hover-width: 52px;
$mn-item8-hover-height: 46px;
$mn-item8-hover-total-width: 361px;
$mn-item8-hover-total-height: 305px;
$mn-item8-hover-image: '../images/sprite.png';
$mn-item8-hover: (197px, 106px, -197px, -106px, 52px, 46px, 361px, 305px, '../images/sprite.png', 'mn_item8_hover', );
$mn-item9-name: 'mn_item9';
$mn-item9-x: 0px;
$mn-item9-y: 239px;
$mn-item9-offset-x: 0px;
$mn-item9-offset-y: -239px;
$mn-item9-width: 32px;
$mn-item9-height: 31px;
$mn-item9-total-width: 361px;
$mn-item9-total-height: 305px;
$mn-item9-image: '../images/sprite.png';
$mn-item9: (0px, 239px, 0px, -239px, 32px, 31px, 361px, 305px, '../images/sprite.png', 'mn_item9', );
$mn-item9-hover-name: 'mn_item9_hover';
$mn-item9-hover-x: 68px;
$mn-item9-hover-y: 72px;
$mn-item9-hover-offset-x: -68px;
$mn-item9-hover-offset-y: -72px;
$mn-item9-hover-width: 52px;
$mn-item9-hover-height: 49px;
$mn-item9-hover-total-width: 361px;
$mn-item9-hover-total-height: 305px;
$mn-item9-hover-image: '../images/sprite.png';
$mn-item9-hover: (68px, 72px, -68px, -72px, 52px, 49px, 361px, 305px, '../images/sprite.png', 'mn_item9_hover', );
$new-message-name: 'new_message';
$new-message-x: 0px;
$new-message-y: 275px;
$new-message-offset-x: 0px;
$new-message-offset-y: -275px;
$new-message-width: 30px;
$new-message-height: 30px;
$new-message-total-width: 361px;
$new-message-total-height: 305px;
$new-message-image: '../images/sprite.png';
$new-message: (0px, 275px, 0px, -275px, 30px, 30px, 361px, 305px, '../images/sprite.png', 'new_message', );
$resources-1-name: 'resources_1';
$resources-1-x: 332px;
$resources-1-y: 176px;
$resources-1-offset-x: -332px;
$resources-1-offset-y: -176px;
$resources-1-width: 28px;
$resources-1-height: 23px;
$resources-1-total-width: 361px;
$resources-1-total-height: 305px;
$resources-1-image: '../images/sprite.png';
$resources-1: (332px, 176px, -332px, -176px, 28px, 23px, 361px, 305px, '../images/sprite.png', 'resources_1', );
$resources-2-name: 'resources_2';
$resources-2-x: 140px;
$resources-2-y: 108px;
$resources-2-offset-x: -140px;
$resources-2-offset-y: -108px;
$resources-2-width: 33px;
$resources-2-height: 24px;
$resources-2-total-width: 361px;
$resources-2-total-height: 305px;
$resources-2-image: '../images/sprite.png';
$resources-2: (140px, 108px, -140px, -108px, 33px, 24px, 361px, 305px, '../images/sprite.png', 'resources_2', );
$resources-3-name: 'resources_3';
$resources-3-x: 299px;
$resources-3-y: 39px;
$resources-3-offset-x: -299px;
$resources-3-offset-y: -39px;
$resources-3-width: 23px;
$resources-3-height: 23px;
$resources-3-total-width: 361px;
$resources-3-total-height: 305px;
$resources-3-image: '../images/sprite.png';
$resources-3: (299px, 39px, -299px, -39px, 23px, 23px, 361px, 305px, '../images/sprite.png', 'resources_3', );
$resources-4-name: 'resources_4';
$resources-4-x: 299px;
$resources-4-y: 67px;
$resources-4-offset-x: -299px;
$resources-4-offset-y: -67px;
$resources-4-width: 22px;
$resources-4-height: 24px;
$resources-4-total-width: 361px;
$resources-4-total-height: 305px;
$resources-4-image: '../images/sprite.png';
$resources-4: (299px, 67px, -299px, -67px, 22px, 24px, 361px, 305px, '../images/sprite.png', 'resources_4', );
$resources-5-name: 'resources_5';
$resources-5-x: 332px;
$resources-5-y: 204px;
$resources-5-offset-x: -332px;
$resources-5-offset-y: -204px;
$resources-5-width: 28px;
$resources-5-height: 23px;
$resources-5-total-width: 361px;
$resources-5-total-height: 305px;
$resources-5-image: '../images/sprite.png';
$resources-5: (332px, 204px, -332px, -204px, 28px, 23px, 361px, 305px, '../images/sprite.png', 'resources_5', );
$resources-6-name: 'resources_6';
$resources-6-x: 332px;
$resources-6-y: 110px;
$resources-6-offset-x: -332px;
$resources-6-offset-y: -110px;
$resources-6-width: 28px;
$resources-6-height: 26px;
$resources-6-total-width: 361px;
$resources-6-total-height: 305px;
$resources-6-image: '../images/sprite.png';
$resources-6: (332px, 110px, -332px, -110px, 28px, 26px, 361px, 305px, '../images/sprite.png', 'resources_6', );
$user-1-name: 'user_1';
$user-1-x: 332px;
$user-1-y: 36px;
$user-1-offset-x: -332px;
$user-1-offset-y: -36px;
$user-1-width: 29px;
$user-1-height: 30px;
$user-1-total-width: 361px;
$user-1-total-height: 305px;
$user-1-image: '../images/sprite.png';
$user-1: (332px, 36px, -332px, -36px, 29px, 30px, 361px, 305px, '../images/sprite.png', 'user_1', );
$user-1-hover-name: 'user_1_hover';
$user-1-hover-x: 192px;
$user-1-hover-y: 191px;
$user-1-hover-offset-x: -192px;
$user-1-hover-offset-y: -191px;
$user-1-hover-width: 32px;
$user-1-hover-height: 34px;
$user-1-hover-total-width: 361px;
$user-1-hover-total-height: 305px;
$user-1-hover-image: '../images/sprite.png';
$user-1-hover: (192px, 191px, -192px, -191px, 32px, 34px, 361px, 305px, '../images/sprite.png', 'user_1_hover', );
$user-2-name: 'user_2';
$user-2-x: 332px;
$user-2-y: 232px;
$user-2-offset-x: -332px;
$user-2-offset-y: -232px;
$user-2-width: 27px;
$user-2-height: 21px;
$user-2-total-width: 361px;
$user-2-total-height: 305px;
$user-2-image: '../images/sprite.png';
$user-2: (332px, 232px, -332px, -232px, 27px, 21px, 361px, 305px, '../images/sprite.png', 'user_2', );
$user-2-hover-name: 'user_2_hover';
$user-2-hover-x: 146px;
$user-2-hover-y: 239px;
$user-2-hover-offset-x: -146px;
$user-2-hover-offset-y: -239px;
$user-2-hover-width: 31px;
$user-2-hover-height: 27px;
$user-2-hover-total-width: 361px;
$user-2-hover-total-height: 305px;
$user-2-hover-image: '../images/sprite.png';
$user-2-hover: (146px, 239px, -146px, -239px, 31px, 27px, 361px, 305px, '../images/sprite.png', 'user_2_hover', );
$user-3-name: 'user_3';
$user-3-x: 332px;
$user-3-y: 141px;
$user-3-offset-x: -332px;
$user-3-offset-y: -141px;
$user-3-width: 23px;
$user-3-height: 30px;
$user-3-total-width: 361px;
$user-3-total-height: 305px;
$user-3-image: '../images/sprite.png';
$user-3: (332px, 141px, -332px, -141px, 23px, 30px, 361px, 305px, '../images/sprite.png', 'user_3', );
$user-3-hover-name: 'user_3_hover';
$user-3-hover-x: 299px;
$user-3-hover-y: 0px;
$user-3-hover-offset-x: -299px;
$user-3-hover-offset-y: 0px;
$user-3-hover-width: 28px;
$user-3-hover-height: 34px;
$user-3-hover-total-width: 361px;
$user-3-hover-total-height: 305px;
$user-3-hover-image: '../images/sprite.png';
$user-3-hover: (299px, 0px, -299px, 0px, 28px, 34px, 361px, 305px, '../images/sprite.png', 'user_3_hover', );
$user-4-name: 'user_4';
$user-4-x: 182px;
$user-4-y: 239px;
$user-4-offset-x: -182px;
$user-4-offset-y: -239px;
$user-4-width: 31px;
$user-4-height: 25px;
$user-4-total-width: 361px;
$user-4-total-height: 305px;
$user-4-image: '../images/sprite.png';
$user-4: (182px, 239px, -182px, -239px, 31px, 25px, 361px, 305px, '../images/sprite.png', 'user_4', );
$user-4-hover-name: 'user_4_hover';
$user-4-hover-x: 254px;
$user-4-hover-y: 130px;
$user-4-hover-offset-x: -254px;
$user-4-hover-offset-y: -130px;
$user-4-hover-width: 37px;
$user-4-hover-height: 31px;
$user-4-hover-total-width: 361px;
$user-4-hover-total-height: 305px;
$user-4-hover-image: '../images/sprite.png';
$user-4-hover: (254px, 130px, -254px, -130px, 37px, 31px, 361px, 305px, '../images/sprite.png', 'user_4_hover', );
$user-5-name: 'user_5';
$user-5-x: 332px;
$user-5-y: 258px;
$user-5-offset-x: -332px;
$user-5-offset-y: -258px;
$user-5-width: 19px;
$user-5-height: 28px;
$user-5-total-width: 361px;
$user-5-total-height: 305px;
$user-5-image: '../images/sprite.png';
$user-5: (332px, 258px, -332px, -258px, 19px, 28px, 361px, 305px, '../images/sprite.png', 'user_5', );
$user-5-hover-name: 'user_5_hover';
$user-5-hover-x: 332px;
$user-5-hover-y: 71px;
$user-5-hover-offset-x: -332px;
$user-5-hover-offset-y: -71px;
$user-5-hover-width: 24px;
$user-5-hover-height: 34px;
$user-5-hover-total-width: 361px;
$user-5-hover-total-height: 305px;
$user-5-hover-image: '../images/sprite.png';
$user-5-hover: (332px, 71px, -332px, -71px, 24px, 34px, 361px, 305px, '../images/sprite.png', 'user_5_hover', );
$spritesheet-width: 361px;
$spritesheet-height: 305px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-down, $arrow-down-white, $chat, $chat-1, $chat-1-hover, $chat-2, $chat-2-hover, $chat-small, $edit, $edit-hover, $help-ico, $help-ico-hover, $help-ico-small, $help-ico-small-hover, $mn-item1, $mn-item1-hover, $mn-item2, $mn-item2-hover, $mn-item3, $mn-item3-hover, $mn-item4, $mn-item4-hover, $mn-item5, $mn-item5-hover, $mn-item6, $mn-item6-hover, $mn-item7, $mn-item7-hover, $mn-item8, $mn-item8-hover, $mn-item9, $mn-item9-hover, $new-message, $resources-1, $resources-2, $resources-3, $resources-4, $resources-5, $resources-6, $user-1, $user-1-hover, $user-2, $user-2-hover, $user-3, $user-3-hover, $user-4, $user-4-hover, $user-5, $user-5-hover, );
$spritesheet: (361px, 305px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
