// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-down-name: 'arrow_down';
$arrow-down-x: 490px;
$arrow-down-y: 173px;
$arrow-down-offset-x: -490px;
$arrow-down-offset-y: -173px;
$arrow-down-width: 13px;
$arrow-down-height: 9px;
$arrow-down-total-width: 513px;
$arrow-down-total-height: 474px;
$arrow-down-image: '../images/sprite.png';
$arrow-down: (490px, 173px, -490px, -173px, 13px, 9px, 513px, 474px, '../images/sprite.png', 'arrow_down', );
$arrow-down-white-name: 'arrow_down_white';
$arrow-down-white-x: 490px;
$arrow-down-white-y: 159px;
$arrow-down-white-offset-x: -490px;
$arrow-down-white-offset-y: -159px;
$arrow-down-white-width: 13px;
$arrow-down-white-height: 9px;
$arrow-down-white-total-width: 513px;
$arrow-down-white-total-height: 474px;
$arrow-down-white-image: '../images/sprite.png';
$arrow-down-white: (490px, 159px, -490px, -159px, 13px, 9px, 513px, 474px, '../images/sprite.png', 'arrow_down_white', );
$b-1-name: 'b_1';
$b-1-x: 456px;
$b-1-y: 374px;
$b-1-offset-x: -456px;
$b-1-offset-y: -374px;
$b-1-width: 27px;
$b-1-height: 28px;
$b-1-total-width: 513px;
$b-1-total-height: 474px;
$b-1-image: '../images/sprite.png';
$b-1: (456px, 374px, -456px, -374px, 27px, 28px, 513px, 474px, '../images/sprite.png', 'b_1', );
$b-10-name: 'b_10';
$b-10-x: 330px;
$b-10-y: 408px;
$b-10-offset-x: -330px;
$b-10-offset-y: -408px;
$b-10-width: 27px;
$b-10-height: 27px;
$b-10-total-width: 513px;
$b-10-total-height: 474px;
$b-10-image: '../images/sprite.png';
$b-10: (330px, 408px, -330px, -408px, 27px, 27px, 513px, 474px, '../images/sprite.png', 'b_10', );
$b-10-h-name: 'b_10_h';
$b-10-h-x: 362px;
$b-10-h-y: 408px;
$b-10-h-offset-x: -362px;
$b-10-h-offset-y: -408px;
$b-10-h-width: 27px;
$b-10-h-height: 27px;
$b-10-h-total-width: 513px;
$b-10-h-total-height: 474px;
$b-10-h-image: '../images/sprite.png';
$b-10-h: (362px, 408px, -362px, -408px, 27px, 27px, 513px, 474px, '../images/sprite.png', 'b_10_h', );
$b-11-name: 'b_11';
$b-11-x: 456px;
$b-11-y: 209px;
$b-11-offset-x: -456px;
$b-11-offset-y: -209px;
$b-11-width: 27px;
$b-11-height: 28px;
$b-11-total-width: 513px;
$b-11-total-height: 474px;
$b-11-image: '../images/sprite.png';
$b-11: (456px, 209px, -456px, -209px, 27px, 28px, 513px, 474px, '../images/sprite.png', 'b_11', );
$b-11-h-name: 'b_11_h';
$b-11-h-x: 456px;
$b-11-h-y: 143px;
$b-11-h-offset-x: -456px;
$b-11-h-offset-y: -143px;
$b-11-h-width: 27px;
$b-11-h-height: 28px;
$b-11-h-total-width: 513px;
$b-11-h-total-height: 474px;
$b-11-h-image: '../images/sprite.png';
$b-11-h: (456px, 143px, -456px, -143px, 27px, 28px, 513px, 474px, '../images/sprite.png', 'b_11_h', );
$b-1-h-name: 'b_1_h';
$b-1-h-x: 202px;
$b-1-h-y: 408px;
$b-1-h-offset-x: -202px;
$b-1-h-offset-y: -408px;
$b-1-h-width: 27px;
$b-1-h-height: 28px;
$b-1-h-total-width: 513px;
$b-1-h-total-height: 474px;
$b-1-h-image: '../images/sprite.png';
$b-1-h: (202px, 408px, -202px, -408px, 27px, 28px, 513px, 474px, '../images/sprite.png', 'b_1_h', );
$b-2-name: 'b_2';
$b-2-x: 138px;
$b-2-y: 408px;
$b-2-offset-x: -138px;
$b-2-offset-y: -408px;
$b-2-width: 27px;
$b-2-height: 28px;
$b-2-total-width: 513px;
$b-2-total-height: 474px;
$b-2-image: '../images/sprite.png';
$b-2: (138px, 408px, -138px, -408px, 27px, 28px, 513px, 474px, '../images/sprite.png', 'b_2', );
$b-2-h-name: 'b_2_h';
$b-2-h-x: 456px;
$b-2-h-y: 110px;
$b-2-h-offset-x: -456px;
$b-2-h-offset-y: -110px;
$b-2-h-width: 27px;
$b-2-h-height: 28px;
$b-2-h-total-width: 513px;
$b-2-h-total-height: 474px;
$b-2-h-image: '../images/sprite.png';
$b-2-h: (456px, 110px, -456px, -110px, 27px, 28px, 513px, 474px, '../images/sprite.png', 'b_2_h', );
$b-3-name: 'b_3';
$b-3-x: 394px;
$b-3-y: 408px;
$b-3-offset-x: -394px;
$b-3-offset-y: -408px;
$b-3-width: 27px;
$b-3-height: 27px;
$b-3-total-width: 513px;
$b-3-total-height: 474px;
$b-3-image: '../images/sprite.png';
$b-3: (394px, 408px, -394px, -408px, 27px, 27px, 513px, 474px, '../images/sprite.png', 'b_3', );
$b-3-h-name: 'b_3_h';
$b-3-h-x: 0px;
$b-3-h-y: 447px;
$b-3-h-offset-x: 0px;
$b-3-h-offset-y: -447px;
$b-3-h-width: 27px;
$b-3-h-height: 27px;
$b-3-h-total-width: 513px;
$b-3-h-total-height: 474px;
$b-3-h-image: '../images/sprite.png';
$b-3-h: (0px, 447px, 0px, -447px, 27px, 27px, 513px, 474px, '../images/sprite.png', 'b_3_h', );
$b-4-name: 'b_4';
$b-4-x: 456px;
$b-4-y: 407px;
$b-4-offset-x: -456px;
$b-4-offset-y: -407px;
$b-4-width: 27px;
$b-4-height: 28px;
$b-4-total-width: 513px;
$b-4-total-height: 474px;
$b-4-image: '../images/sprite.png';
$b-4: (456px, 407px, -456px, -407px, 27px, 28px, 513px, 474px, '../images/sprite.png', 'b_4', );
$b-4-h-name: 'b_4_h';
$b-4-h-x: 456px;
$b-4-h-y: 242px;
$b-4-h-offset-x: -456px;
$b-4-h-offset-y: -242px;
$b-4-h-width: 27px;
$b-4-h-height: 28px;
$b-4-h-total-width: 513px;
$b-4-h-total-height: 474px;
$b-4-h-image: '../images/sprite.png';
$b-4-h: (456px, 242px, -456px, -242px, 27px, 28px, 513px, 474px, '../images/sprite.png', 'b_4_h', );
$b-5-name: 'b_5';
$b-5-x: 456px;
$b-5-y: 176px;
$b-5-offset-x: -456px;
$b-5-offset-y: -176px;
$b-5-width: 27px;
$b-5-height: 28px;
$b-5-total-width: 513px;
$b-5-total-height: 474px;
$b-5-image: '../images/sprite.png';
$b-5: (456px, 176px, -456px, -176px, 27px, 28px, 513px, 474px, '../images/sprite.png', 'b_5', );
$b-5-h-name: 'b_5_h';
$b-5-h-x: 456px;
$b-5-h-y: 308px;
$b-5-h-offset-x: -456px;
$b-5-h-offset-y: -308px;
$b-5-h-width: 27px;
$b-5-h-height: 28px;
$b-5-h-total-width: 513px;
$b-5-h-total-height: 474px;
$b-5-h-image: '../images/sprite.png';
$b-5-h: (456px, 308px, -456px, -308px, 27px, 28px, 513px, 474px, '../images/sprite.png', 'b_5_h', );
$b-6-name: 'b_6';
$b-6-x: 456px;
$b-6-y: 275px;
$b-6-offset-x: -456px;
$b-6-offset-y: -275px;
$b-6-width: 27px;
$b-6-height: 28px;
$b-6-total-width: 513px;
$b-6-total-height: 474px;
$b-6-image: '../images/sprite.png';
$b-6: (456px, 275px, -456px, -275px, 27px, 28px, 513px, 474px, '../images/sprite.png', 'b_6', );
$b-6-h-name: 'b_6_h';
$b-6-h-x: 170px;
$b-6-h-y: 408px;
$b-6-h-offset-x: -170px;
$b-6-h-offset-y: -408px;
$b-6-h-width: 27px;
$b-6-h-height: 28px;
$b-6-h-total-width: 513px;
$b-6-h-total-height: 474px;
$b-6-h-image: '../images/sprite.png';
$b-6-h: (170px, 408px, -170px, -408px, 27px, 28px, 513px, 474px, '../images/sprite.png', 'b_6_h', );
$b-7-name: 'b_7';
$b-7-x: 266px;
$b-7-y: 408px;
$b-7-offset-x: -266px;
$b-7-offset-y: -408px;
$b-7-width: 27px;
$b-7-height: 27px;
$b-7-total-width: 513px;
$b-7-total-height: 474px;
$b-7-image: '../images/sprite.png';
$b-7: (266px, 408px, -266px, -408px, 27px, 27px, 513px, 474px, '../images/sprite.png', 'b_7', );
$b-7-h-name: 'b_7_h';
$b-7-h-x: 64px;
$b-7-h-y: 447px;
$b-7-h-offset-x: -64px;
$b-7-h-offset-y: -447px;
$b-7-h-width: 27px;
$b-7-h-height: 27px;
$b-7-h-total-width: 513px;
$b-7-h-total-height: 474px;
$b-7-h-image: '../images/sprite.png';
$b-7-h: (64px, 447px, -64px, -447px, 27px, 27px, 513px, 474px, '../images/sprite.png', 'b_7_h', );
$b-8-name: 'b_8';
$b-8-x: 32px;
$b-8-y: 447px;
$b-8-offset-x: -32px;
$b-8-offset-y: -447px;
$b-8-width: 27px;
$b-8-height: 27px;
$b-8-total-width: 513px;
$b-8-total-height: 474px;
$b-8-image: '../images/sprite.png';
$b-8: (32px, 447px, -32px, -447px, 27px, 27px, 513px, 474px, '../images/sprite.png', 'b_8', );
$b-8-h-name: 'b_8_h';
$b-8-h-x: 298px;
$b-8-h-y: 408px;
$b-8-h-offset-x: -298px;
$b-8-h-offset-y: -408px;
$b-8-h-width: 27px;
$b-8-h-height: 27px;
$b-8-h-total-width: 513px;
$b-8-h-total-height: 474px;
$b-8-h-image: '../images/sprite.png';
$b-8-h: (298px, 408px, -298px, -408px, 27px, 27px, 513px, 474px, '../images/sprite.png', 'b_8_h', );
$b-9-name: 'b_9';
$b-9-x: 456px;
$b-9-y: 341px;
$b-9-offset-x: -456px;
$b-9-offset-y: -341px;
$b-9-width: 27px;
$b-9-height: 28px;
$b-9-total-width: 513px;
$b-9-total-height: 474px;
$b-9-image: '../images/sprite.png';
$b-9: (456px, 341px, -456px, -341px, 27px, 28px, 513px, 474px, '../images/sprite.png', 'b_9', );
$b-9-h-name: 'b_9_h';
$b-9-h-x: 234px;
$b-9-h-y: 408px;
$b-9-h-offset-x: -234px;
$b-9-h-offset-y: -408px;
$b-9-h-width: 27px;
$b-9-h-height: 28px;
$b-9-h-total-width: 513px;
$b-9-h-total-height: 474px;
$b-9-h-image: '../images/sprite.png';
$b-9-h: (234px, 408px, -234px, -408px, 27px, 28px, 513px, 474px, '../images/sprite.png', 'b_9_h', );
$bg-ic-name: 'bg_ic';
$bg-ic-x: 246px;
$bg-ic-y: 53px;
$bg-ic-offset-x: -246px;
$bg-ic-offset-y: -53px;
$bg-ic-width: 50px;
$bg-ic-height: 50px;
$bg-ic-total-width: 513px;
$bg-ic-total-height: 474px;
$bg-ic-image: '../images/sprite.png';
$bg-ic: (246px, 53px, -246px, -53px, 50px, 50px, 513px, 474px, '../images/sprite.png', 'bg_ic', );
$chat-name: 'chat';
$chat-x: 0px;
$chat-y: 88px;
$chat-offset-x: 0px;
$chat-offset-y: -88px;
$chat-width: 67px;
$chat-height: 67px;
$chat-total-width: 513px;
$chat-total-height: 474px;
$chat-image: '../images/sprite.png';
$chat: (0px, 88px, 0px, -88px, 67px, 67px, 513px, 474px, '../images/sprite.png', 'chat', );
$chat-1-name: 'chat_1';
$chat-1-x: 158px;
$chat-1-y: 320px;
$chat-1-offset-x: -158px;
$chat-1-offset-y: -320px;
$chat-1-width: 41px;
$chat-1-height: 40px;
$chat-1-total-width: 513px;
$chat-1-total-height: 474px;
$chat-1-image: '../images/sprite.png';
$chat-1: (158px, 320px, -158px, -320px, 41px, 40px, 513px, 474px, '../images/sprite.png', 'chat_1', );
$chat-1-hover-name: 'chat_1_hover';
$chat-1-hover-x: 204px;
$chat-1-hover-y: 320px;
$chat-1-hover-offset-x: -204px;
$chat-1-hover-offset-y: -320px;
$chat-1-hover-width: 41px;
$chat-1-hover-height: 40px;
$chat-1-hover-total-width: 513px;
$chat-1-hover-total-height: 474px;
$chat-1-hover-image: '../images/sprite.png';
$chat-1-hover: (204px, 320px, -204px, -320px, 41px, 40px, 513px, 474px, '../images/sprite.png', 'chat_1_hover', );
$chat-2-name: 'chat_2';
$chat-2-x: 411px;
$chat-2-y: 102px;
$chat-2-offset-x: -411px;
$chat-2-offset-y: -102px;
$chat-2-width: 40px;
$chat-2-height: 41px;
$chat-2-total-width: 513px;
$chat-2-total-height: 474px;
$chat-2-image: '../images/sprite.png';
$chat-2: (411px, 102px, -411px, -102px, 40px, 41px, 513px, 474px, '../images/sprite.png', 'chat_2', );
$chat-2-hover-name: 'chat_2_hover';
$chat-2-hover-x: 411px;
$chat-2-hover-y: 148px;
$chat-2-hover-offset-x: -411px;
$chat-2-hover-offset-y: -148px;
$chat-2-hover-width: 40px;
$chat-2-hover-height: 41px;
$chat-2-hover-total-width: 513px;
$chat-2-hover-total-height: 474px;
$chat-2-hover-image: '../images/sprite.png';
$chat-2-hover: (411px, 148px, -411px, -148px, 40px, 41px, 513px, 474px, '../images/sprite.png', 'chat_2_hover', );
$chat-small-name: 'chat_small';
$chat-small-x: 0px;
$chat-small-y: 372px;
$chat-small-offset-x: 0px;
$chat-small-offset-y: -372px;
$chat-small-width: 31px;
$chat-small-height: 31px;
$chat-small-total-width: 513px;
$chat-small-total-height: 474px;
$chat-small-image: '../images/sprite.png';
$chat-small: (0px, 372px, 0px, -372px, 31px, 31px, 513px, 474px, '../images/sprite.png', 'chat_small', );
$edit-name: 'edit';
$edit-x: 490px;
$edit-y: 142px;
$edit-offset-x: -490px;
$edit-offset-y: -142px;
$edit-width: 13px;
$edit-height: 12px;
$edit-total-width: 513px;
$edit-total-height: 474px;
$edit-image: '../images/sprite.png';
$edit: (490px, 142px, -490px, -142px, 13px, 12px, 513px, 474px, '../images/sprite.png', 'edit', );
$edit-hover-name: 'edit_hover';
$edit-hover-x: 490px;
$edit-hover-y: 125px;
$edit-hover-offset-x: -490px;
$edit-hover-offset-y: -125px;
$edit-hover-width: 13px;
$edit-hover-height: 12px;
$edit-hover-total-width: 513px;
$edit-hover-total-height: 474px;
$edit-hover-image: '../images/sprite.png';
$edit-hover: (490px, 125px, -490px, -125px, 13px, 12px, 513px, 474px, '../images/sprite.png', 'edit_hover', );
$facebook-name: 'facebook';
$facebook-x: 89px;
$facebook-y: 0px;
$facebook-offset-x: -89px;
$facebook-offset-y: 0px;
$facebook-width: 84px;
$facebook-height: 83px;
$facebook-total-width: 513px;
$facebook-total-height: 474px;
$facebook-image: '../images/sprite.png';
$facebook: (89px, 0px, -89px, 0px, 84px, 83px, 513px, 474px, '../images/sprite.png', 'facebook', );
$help-ico-name: 'help_ico';
$help-ico-x: 72px;
$help-ico-y: 88px;
$help-ico-offset-x: -72px;
$help-ico-offset-y: -88px;
$help-ico-width: 63px;
$help-ico-height: 60px;
$help-ico-total-width: 513px;
$help-ico-total-height: 474px;
$help-ico-image: '../images/sprite.png';
$help-ico: (72px, 88px, -72px, -88px, 63px, 60px, 513px, 474px, '../images/sprite.png', 'help_ico', );
$help-ico-hover-name: 'help_ico_hover';
$help-ico-hover-x: 178px;
$help-ico-hover-y: 0px;
$help-ico-hover-offset-x: -178px;
$help-ico-hover-offset-y: 0px;
$help-ico-hover-width: 63px;
$help-ico-hover-height: 60px;
$help-ico-hover-total-width: 513px;
$help-ico-hover-total-height: 474px;
$help-ico-hover-image: '../images/sprite.png';
$help-ico-hover: (178px, 0px, -178px, 0px, 63px, 60px, 513px, 474px, '../images/sprite.png', 'help_ico_hover', );
$help-ico-small-name: 'help_ico_small';
$help-ico-small-x: 216px;
$help-ico-small-y: 214px;
$help-ico-small-offset-x: -216px;
$help-ico-small-offset-y: -214px;
$help-ico-small-width: 45px;
$help-ico-small-height: 43px;
$help-ico-small-total-width: 513px;
$help-ico-small-total-height: 474px;
$help-ico-small-image: '../images/sprite.png';
$help-ico-small: (216px, 214px, -216px, -214px, 45px, 43px, 513px, 474px, '../images/sprite.png', 'help_ico_small', );
$help-ico-small-hover-name: 'help_ico_small_hover';
$help-ico-small-hover-x: 108px;
$help-ico-small-hover-y: 320px;
$help-ico-small-hover-offset-x: -108px;
$help-ico-small-hover-offset-y: -320px;
$help-ico-small-hover-width: 45px;
$help-ico-small-hover-height: 43px;
$help-ico-small-hover-total-width: 513px;
$help-ico-small-hover-total-height: 474px;
$help-ico-small-hover-image: '../images/sprite.png';
$help-ico-small-hover: (108px, 320px, -108px, -320px, 45px, 43px, 513px, 474px, '../images/sprite.png', 'help_ico_small_hover', );
$holder-ic-name: 'holder_ic';
$holder-ic-x: 54px;
$holder-ic-y: 320px;
$holder-ic-offset-x: -54px;
$holder-ic-offset-y: -320px;
$holder-ic-width: 49px;
$holder-ic-height: 47px;
$holder-ic-total-width: 513px;
$holder-ic-total-height: 474px;
$holder-ic-image: '../images/sprite.png';
$holder-ic: (54px, 320px, -54px, -320px, 49px, 47px, 513px, 474px, '../images/sprite.png', 'holder_ic', );
$ic-1-name: 'ic_1';
$ic-1-x: 304px;
$ic-1-y: 160px;
$ic-1-offset-x: -304px;
$ic-1-offset-y: -160px;
$ic-1-width: 49px;
$ic-1-height: 48px;
$ic-1-total-width: 513px;
$ic-1-total-height: 474px;
$ic-1-image: '../images/sprite.png';
$ic-1: (304px, 160px, -304px, -160px, 49px, 48px, 513px, 474px, '../images/sprite.png', 'ic_1', );
$ic-1-hover-name: 'ic_1_hover';
$ic-1-hover-x: 0px;
$ic-1-hover-y: 320px;
$ic-1-hover-offset-x: 0px;
$ic-1-hover-offset-y: -320px;
$ic-1-hover-width: 49px;
$ic-1-hover-height: 47px;
$ic-1-hover-total-width: 513px;
$ic-1-hover-total-height: 474px;
$ic-1-hover-image: '../images/sprite.png';
$ic-1-hover: (0px, 320px, 0px, -320px, 49px, 47px, 513px, 474px, '../images/sprite.png', 'ic_1_hover', );
$ic-2-name: 'ic_2';
$ic-2-x: 268px;
$ic-2-y: 267px;
$ic-2-offset-x: -268px;
$ic-2-offset-y: -267px;
$ic-2-width: 48px;
$ic-2-height: 48px;
$ic-2-total-width: 513px;
$ic-2-total-height: 474px;
$ic-2-image: '../images/sprite.png';
$ic-2: (268px, 267px, -268px, -267px, 48px, 48px, 513px, 474px, '../images/sprite.png', 'ic_2', );
$ic-2-hover-name: 'ic_2_hover';
$ic-2-hover-x: 358px;
$ic-2-hover-y: 159px;
$ic-2-hover-offset-x: -358px;
$ic-2-hover-offset-y: -159px;
$ic-2-hover-width: 48px;
$ic-2-hover-height: 47px;
$ic-2-hover-total-width: 513px;
$ic-2-hover-total-height: 474px;
$ic-2-hover-image: '../images/sprite.png';
$ic-2-hover: (358px, 159px, -358px, -159px, 48px, 47px, 513px, 474px, '../images/sprite.png', 'ic_2_hover', );
$ic-3-name: 'ic_3';
$ic-3-x: 358px;
$ic-3-y: 211px;
$ic-3-offset-x: -358px;
$ic-3-offset-y: -211px;
$ic-3-width: 48px;
$ic-3-height: 47px;
$ic-3-total-width: 513px;
$ic-3-total-height: 474px;
$ic-3-image: '../images/sprite.png';
$ic-3: (358px, 211px, -358px, -211px, 48px, 47px, 513px, 474px, '../images/sprite.png', 'ic_3', );
$ic-3-hover-name: 'ic_3_hover';
$ic-3-hover-x: 358px;
$ic-3-hover-y: 263px;
$ic-3-hover-offset-x: -358px;
$ic-3-hover-offset-y: -263px;
$ic-3-hover-width: 48px;
$ic-3-hover-height: 46px;
$ic-3-hover-total-width: 513px;
$ic-3-hover-total-height: 474px;
$ic-3-hover-image: '../images/sprite.png';
$ic-3-hover: (358px, 263px, -358px, -263px, 48px, 46px, 513px, 474px, '../images/sprite.png', 'ic_3_hover', );
$ic-4-name: 'ic_4';
$ic-4-x: 304px;
$ic-4-y: 107px;
$ic-4-offset-x: -304px;
$ic-4-offset-y: -107px;
$ic-4-width: 49px;
$ic-4-height: 48px;
$ic-4-total-width: 513px;
$ic-4-total-height: 474px;
$ic-4-image: '../images/sprite.png';
$ic-4: (304px, 107px, -304px, -107px, 49px, 48px, 513px, 474px, '../images/sprite.png', 'ic_4', );
$ic-4-hover-name: 'ic_4_hover';
$ic-4-hover-x: 215px;
$ic-4-hover-y: 267px;
$ic-4-hover-offset-x: -215px;
$ic-4-hover-offset-y: -267px;
$ic-4-hover-width: 48px;
$ic-4-hover-height: 48px;
$ic-4-hover-total-width: 513px;
$ic-4-hover-total-height: 474px;
$ic-4-hover-image: '../images/sprite.png';
$ic-4-hover: (215px, 267px, -215px, -267px, 48px, 48px, 513px, 474px, '../images/sprite.png', 'ic_4_hover', );
$ic-5-name: 'ic_5';
$ic-5-x: 304px;
$ic-5-y: 54px;
$ic-5-offset-x: -304px;
$ic-5-offset-y: -54px;
$ic-5-width: 49px;
$ic-5-height: 48px;
$ic-5-total-width: 513px;
$ic-5-total-height: 474px;
$ic-5-image: '../images/sprite.png';
$ic-5: (304px, 54px, -304px, -54px, 49px, 48px, 513px, 474px, '../images/sprite.png', 'ic_5', );
$ic-5-hover-name: 'ic_5_hover';
$ic-5-hover-x: 108px;
$ic-5-hover-y: 267px;
$ic-5-hover-offset-x: -108px;
$ic-5-hover-offset-y: -267px;
$ic-5-hover-width: 49px;
$ic-5-hover-height: 48px;
$ic-5-hover-total-width: 513px;
$ic-5-hover-total-height: 474px;
$ic-5-hover-image: '../images/sprite.png';
$ic-5-hover: (108px, 267px, -108px, -267px, 49px, 48px, 513px, 474px, '../images/sprite.png', 'ic_5_hover', );
$ic-6-name: 'ic_6';
$ic-6-x: 162px;
$ic-6-y: 267px;
$ic-6-offset-x: -162px;
$ic-6-offset-y: -267px;
$ic-6-width: 48px;
$ic-6-height: 48px;
$ic-6-total-width: 513px;
$ic-6-total-height: 474px;
$ic-6-image: '../images/sprite.png';
$ic-6: (162px, 267px, -162px, -267px, 48px, 48px, 513px, 474px, '../images/sprite.png', 'ic_6', );
$ic-6-hover-name: 'ic_6_hover';
$ic-6-hover-x: 304px;
$ic-6-hover-y: 213px;
$ic-6-hover-offset-x: -304px;
$ic-6-hover-offset-y: -213px;
$ic-6-hover-width: 48px;
$ic-6-hover-height: 49px;
$ic-6-hover-total-width: 513px;
$ic-6-hover-total-height: 474px;
$ic-6-hover-image: '../images/sprite.png';
$ic-6-hover: (304px, 213px, -304px, -213px, 48px, 49px, 513px, 474px, '../images/sprite.png', 'ic_6_hover', );
$ic-7-name: 'ic_7';
$ic-7-x: 54px;
$ic-7-y: 267px;
$ic-7-offset-x: -54px;
$ic-7-offset-y: -267px;
$ic-7-width: 49px;
$ic-7-height: 48px;
$ic-7-total-width: 513px;
$ic-7-total-height: 474px;
$ic-7-image: '../images/sprite.png';
$ic-7: (54px, 267px, -54px, -267px, 49px, 48px, 513px, 474px, '../images/sprite.png', 'ic_7', );
$ic-7-hover-name: 'ic_7_hover';
$ic-7-hover-x: 0px;
$ic-7-hover-y: 267px;
$ic-7-hover-offset-x: 0px;
$ic-7-hover-offset-y: -267px;
$ic-7-hover-width: 49px;
$ic-7-hover-height: 48px;
$ic-7-hover-total-width: 513px;
$ic-7-hover-total-height: 474px;
$ic-7-hover-image: '../images/sprite.png';
$ic-7-hover: (0px, 267px, 0px, -267px, 49px, 48px, 513px, 474px, '../images/sprite.png', 'ic_7_hover', );
$ic-8-name: 'ic_8';
$ic-8-x: 358px;
$ic-8-y: 0px;
$ic-8-offset-x: -358px;
$ic-8-offset-y: 0px;
$ic-8-width: 48px;
$ic-8-height: 48px;
$ic-8-total-width: 513px;
$ic-8-total-height: 474px;
$ic-8-image: '../images/sprite.png';
$ic-8: (358px, 0px, -358px, 0px, 48px, 48px, 513px, 474px, '../images/sprite.png', 'ic_8', );
$ic-8-hover-name: 'ic_8_hover';
$ic-8-hover-x: 358px;
$ic-8-hover-y: 53px;
$ic-8-hover-offset-x: -358px;
$ic-8-hover-offset-y: -53px;
$ic-8-hover-width: 48px;
$ic-8-hover-height: 48px;
$ic-8-hover-total-width: 513px;
$ic-8-hover-total-height: 474px;
$ic-8-hover-image: '../images/sprite.png';
$ic-8-hover: (358px, 53px, -358px, -53px, 48px, 48px, 513px, 474px, '../images/sprite.png', 'ic_8_hover', );
$ic-9-name: 'ic_9';
$ic-9-x: 304px;
$ic-9-y: 0px;
$ic-9-offset-x: -304px;
$ic-9-offset-y: 0px;
$ic-9-width: 49px;
$ic-9-height: 49px;
$ic-9-total-width: 513px;
$ic-9-total-height: 474px;
$ic-9-image: '../images/sprite.png';
$ic-9: (304px, 0px, -304px, 0px, 49px, 49px, 513px, 474px, '../images/sprite.png', 'ic_9', );
$ic-9-hover-name: 'ic_9_hover';
$ic-9-hover-x: 358px;
$ic-9-hover-y: 106px;
$ic-9-hover-offset-x: -358px;
$ic-9-hover-offset-y: -106px;
$ic-9-hover-width: 48px;
$ic-9-hover-height: 48px;
$ic-9-hover-total-width: 513px;
$ic-9-hover-total-height: 474px;
$ic-9-hover-image: '../images/sprite.png';
$ic-9-hover: (358px, 106px, -358px, -106px, 48px, 48px, 513px, 474px, '../images/sprite.png', 'ic_9_hover', );
$icn-gem-name: 'icn_gem';
$icn-gem-x: 36px;
$icn-gem-y: 372px;
$icn-gem-offset-x: -36px;
$icn-gem-offset-y: -372px;
$icn-gem-width: 30px;
$icn-gem-height: 31px;
$icn-gem-total-width: 513px;
$icn-gem-total-height: 474px;
$icn-gem-image: '../images/sprite.png';
$icn-gem: (36px, 372px, -36px, -372px, 30px, 31px, 513px, 474px, '../images/sprite.png', 'icn_gem', );
$mn-item1-name: 'mn_item1';
$mn-item1-x: 250px;
$mn-item1-y: 320px;
$mn-item1-offset-x: -250px;
$mn-item1-offset-y: -320px;
$mn-item1-width: 36px;
$mn-item1-height: 28px;
$mn-item1-total-width: 513px;
$mn-item1-total-height: 474px;
$mn-item1-image: '../images/sprite.png';
$mn-item1: (250px, 320px, -250px, -320px, 36px, 28px, 513px, 474px, '../images/sprite.png', 'mn_item1', );
$mn-item1-hover-name: 'mn_item1_hover';
$mn-item1-hover-x: 246px;
$mn-item1-hover-y: 0px;
$mn-item1-hover-offset-x: -246px;
$mn-item1-hover-offset-y: 0px;
$mn-item1-hover-width: 53px;
$mn-item1-hover-height: 48px;
$mn-item1-hover-total-width: 513px;
$mn-item1-hover-total-height: 474px;
$mn-item1-hover-image: '../images/sprite.png';
$mn-item1-hover: (246px, 0px, -246px, 0px, 53px, 48px, 513px, 474px, '../images/sprite.png', 'mn_item1_hover', );
$mn-item2-name: 'mn_item2';
$mn-item2-x: 140px;
$mn-item2-y: 88px;
$mn-item2-offset-x: -140px;
$mn-item2-offset-y: -88px;
$mn-item2-width: 33px;
$mn-item2-height: 34px;
$mn-item2-total-width: 513px;
$mn-item2-total-height: 474px;
$mn-item2-image: '../images/sprite.png';
$mn-item2: (140px, 88px, -140px, -88px, 33px, 34px, 513px, 474px, '../images/sprite.png', 'mn_item2', );
$mn-item2-hover-name: 'mn_item2_hover';
$mn-item2-hover-x: 0px;
$mn-item2-hover-y: 160px;
$mn-item2-hover-offset-x: 0px;
$mn-item2-hover-offset-y: -160px;
$mn-item2-hover-width: 52px;
$mn-item2-hover-height: 49px;
$mn-item2-hover-total-width: 513px;
$mn-item2-hover-total-height: 474px;
$mn-item2-hover-image: '../images/sprite.png';
$mn-item2-hover: (0px, 160px, 0px, -160px, 52px, 49px, 513px, 474px, '../images/sprite.png', 'mn_item2_hover', );
$mn-item3-name: 'mn_item3';
$mn-item3-x: 71px;
$mn-item3-y: 372px;
$mn-item3-offset-x: -71px;
$mn-item3-offset-y: -372px;
$mn-item3-width: 31px;
$mn-item3-height: 30px;
$mn-item3-total-width: 513px;
$mn-item3-total-height: 474px;
$mn-item3-image: '../images/sprite.png';
$mn-item3: (71px, 372px, -71px, -372px, 31px, 30px, 513px, 474px, '../images/sprite.png', 'mn_item3', );
$mn-item3-hover-name: 'mn_item3_hover';
$mn-item3-hover-x: 246px;
$mn-item3-hover-y: 108px;
$mn-item3-hover-offset-x: -246px;
$mn-item3-hover-offset-y: -108px;
$mn-item3-hover-width: 52px;
$mn-item3-hover-height: 48px;
$mn-item3-hover-total-width: 513px;
$mn-item3-hover-total-height: 474px;
$mn-item3-hover-image: '../images/sprite.png';
$mn-item3-hover: (246px, 108px, -246px, -108px, 52px, 48px, 513px, 474px, '../images/sprite.png', 'mn_item3_hover', );
$mn-item4-name: 'mn_item4';
$mn-item4-x: 456px;
$mn-item4-y: 0px;
$mn-item4-offset-x: -456px;
$mn-item4-offset-y: 0px;
$mn-item4-width: 29px;
$mn-item4-height: 31px;
$mn-item4-total-width: 513px;
$mn-item4-total-height: 474px;
$mn-item4-image: '../images/sprite.png';
$mn-item4: (456px, 0px, -456px, 0px, 29px, 31px, 513px, 474px, '../images/sprite.png', 'mn_item4', );
$mn-item4-hover-name: 'mn_item4_hover';
$mn-item4-hover-x: 171px;
$mn-item4-hover-y: 160px;
$mn-item4-hover-offset-x: -171px;
$mn-item4-hover-offset-y: -160px;
$mn-item4-hover-width: 52px;
$mn-item4-hover-height: 49px;
$mn-item4-hover-total-width: 513px;
$mn-item4-hover-total-height: 474px;
$mn-item4-hover-image: '../images/sprite.png';
$mn-item4-hover: (171px, 160px, -171px, -160px, 52px, 49px, 513px, 474px, '../images/sprite.png', 'mn_item4_hover', );
$mn-item5-name: 'mn_item5';
$mn-item5-x: 107px;
$mn-item5-y: 372px;
$mn-item5-offset-x: -107px;
$mn-item5-offset-y: -372px;
$mn-item5-width: 32px;
$mn-item5-height: 29px;
$mn-item5-total-width: 513px;
$mn-item5-total-height: 474px;
$mn-item5-image: '../images/sprite.png';
$mn-item5: (107px, 372px, -107px, -372px, 32px, 29px, 513px, 474px, '../images/sprite.png', 'mn_item5', );
$mn-item5-hover-name: 'mn_item5_hover';
$mn-item5-hover-x: 246px;
$mn-item5-hover-y: 161px;
$mn-item5-hover-offset-x: -246px;
$mn-item5-hover-offset-y: -161px;
$mn-item5-hover-width: 52px;
$mn-item5-hover-height: 48px;
$mn-item5-hover-total-width: 513px;
$mn-item5-hover-total-height: 474px;
$mn-item5-hover-image: '../images/sprite.png';
$mn-item5-hover: (246px, 161px, -246px, -161px, 52px, 48px, 513px, 474px, '../images/sprite.png', 'mn_item5_hover', );
$mn-item6-name: 'mn_item6';
$mn-item6-x: 68px;
$mn-item6-y: 408px;
$mn-item6-offset-x: -68px;
$mn-item6-offset-y: -408px;
$mn-item6-width: 30px;
$mn-item6-height: 30px;
$mn-item6-total-width: 513px;
$mn-item6-total-height: 474px;
$mn-item6-image: '../images/sprite.png';
$mn-item6: (68px, 408px, -68px, -408px, 30px, 30px, 513px, 474px, '../images/sprite.png', 'mn_item6', );
$mn-item6-hover-name: 'mn_item6_hover';
$mn-item6-hover-x: 0px;
$mn-item6-hover-y: 214px;
$mn-item6-hover-offset-x: 0px;
$mn-item6-hover-offset-y: -214px;
$mn-item6-hover-width: 52px;
$mn-item6-hover-height: 48px;
$mn-item6-hover-total-width: 513px;
$mn-item6-hover-total-height: 474px;
$mn-item6-hover-image: '../images/sprite.png';
$mn-item6-hover: (0px, 214px, 0px, -214px, 52px, 48px, 513px, 474px, '../images/sprite.png', 'mn_item6_hover', );
$mn-item7-name: 'mn_item7';
$mn-item7-x: 411px;
$mn-item7-y: 284px;
$mn-item7-offset-x: -411px;
$mn-item7-offset-y: -284px;
$mn-item7-width: 38px;
$mn-item7-height: 33px;
$mn-item7-total-width: 513px;
$mn-item7-total-height: 474px;
$mn-item7-image: '../images/sprite.png';
$mn-item7: (411px, 284px, -411px, -284px, 38px, 33px, 513px, 474px, '../images/sprite.png', 'mn_item7', );
$mn-item7-hover-name: 'mn_item7_hover';
$mn-item7-hover-x: 57px;
$mn-item7-hover-y: 160px;
$mn-item7-hover-offset-x: -57px;
$mn-item7-hover-offset-y: -160px;
$mn-item7-hover-width: 52px;
$mn-item7-hover-height: 49px;
$mn-item7-hover-total-width: 513px;
$mn-item7-hover-total-height: 474px;
$mn-item7-hover-image: '../images/sprite.png';
$mn-item7-hover: (57px, 160px, -57px, -160px, 52px, 49px, 513px, 474px, '../images/sprite.png', 'mn_item7_hover', );
$mn-item8-name: 'mn_item8';
$mn-item8-x: 178px;
$mn-item8-y: 125px;
$mn-item8-offset-x: -178px;
$mn-item8-offset-y: -125px;
$mn-item8-width: 39px;
$mn-item8-height: 28px;
$mn-item8-total-width: 513px;
$mn-item8-total-height: 474px;
$mn-item8-image: '../images/sprite.png';
$mn-item8: (178px, 125px, -178px, -125px, 39px, 28px, 513px, 474px, '../images/sprite.png', 'mn_item8', );
$mn-item8-hover-name: 'mn_item8_hover';
$mn-item8-hover-x: 57px;
$mn-item8-hover-y: 214px;
$mn-item8-hover-offset-x: -57px;
$mn-item8-hover-offset-y: -214px;
$mn-item8-hover-width: 52px;
$mn-item8-hover-height: 46px;
$mn-item8-hover-total-width: 513px;
$mn-item8-hover-total-height: 474px;
$mn-item8-hover-image: '../images/sprite.png';
$mn-item8-hover: (57px, 214px, -57px, -214px, 52px, 46px, 513px, 474px, '../images/sprite.png', 'mn_item8_hover', );
$mn-item9-name: 'mn_item9';
$mn-item9-x: 321px;
$mn-item9-y: 267px;
$mn-item9-offset-x: -321px;
$mn-item9-offset-y: -267px;
$mn-item9-width: 32px;
$mn-item9-height: 31px;
$mn-item9-total-width: 513px;
$mn-item9-total-height: 474px;
$mn-item9-image: '../images/sprite.png';
$mn-item9: (321px, 267px, -321px, -267px, 32px, 31px, 513px, 474px, '../images/sprite.png', 'mn_item9', );
$mn-item9-hover-name: 'mn_item9_hover';
$mn-item9-hover-x: 114px;
$mn-item9-hover-y: 160px;
$mn-item9-hover-offset-x: -114px;
$mn-item9-hover-offset-y: -160px;
$mn-item9-hover-width: 52px;
$mn-item9-hover-height: 49px;
$mn-item9-hover-total-width: 513px;
$mn-item9-hover-total-height: 474px;
$mn-item9-hover-image: '../images/sprite.png';
$mn-item9-hover: (114px, 160px, -114px, -160px, 52px, 49px, 513px, 474px, '../images/sprite.png', 'mn_item9_hover', );
$modal-close-name: 'modal_close';
$modal-close-x: 178px;
$modal-close-y: 65px;
$modal-close-offset-x: -178px;
$modal-close-offset-y: -65px;
$modal-close-width: 63px;
$modal-close-height: 55px;
$modal-close-total-width: 513px;
$modal-close-total-height: 474px;
$modal-close-image: '../images/sprite.png';
$modal-close: (178px, 65px, -178px, -65px, 63px, 55px, 513px, 474px, '../images/sprite.png', 'modal_close', );
$new-message-name: 'new_message';
$new-message-x: 103px;
$new-message-y: 408px;
$new-message-offset-x: -103px;
$new-message-offset-y: -408px;
$new-message-width: 30px;
$new-message-height: 30px;
$new-message-total-width: 513px;
$new-message-total-height: 474px;
$new-message-image: '../images/sprite.png';
$new-message: (103px, 408px, -103px, -408px, 30px, 30px, 513px, 474px, '../images/sprite.png', 'new_message', );
$new-message-big-name: 'new_message_big';
$new-message-big-x: 411px;
$new-message-big-y: 194px;
$new-message-big-offset-x: -411px;
$new-message-big-offset-y: -194px;
$new-message-big-width: 40px;
$new-message-big-height: 40px;
$new-message-big-total-width: 513px;
$new-message-big-total-height: 474px;
$new-message-big-image: '../images/sprite.png';
$new-message-big: (411px, 194px, -411px, -194px, 40px, 40px, 513px, 474px, '../images/sprite.png', 'new_message_big', );
$new-message-green-name: 'new_message_green';
$new-message-green-x: 33px;
$new-message-green-y: 408px;
$new-message-green-offset-x: -33px;
$new-message-green-offset-y: -408px;
$new-message-green-width: 30px;
$new-message-green-height: 30px;
$new-message-green-total-width: 513px;
$new-message-green-total-height: 474px;
$new-message-green-image: '../images/sprite.png';
$new-message-green: (33px, 408px, -33px, -408px, 30px, 30px, 513px, 474px, '../images/sprite.png', 'new_message_green', );
$new-message-green-big-name: 'new_message_green__big';
$new-message-green-big-x: 411px;
$new-message-green-big-y: 239px;
$new-message-green-big-offset-x: -411px;
$new-message-green-big-offset-y: -239px;
$new-message-green-big-width: 40px;
$new-message-green-big-height: 40px;
$new-message-green-big-total-width: 513px;
$new-message-green-big-total-height: 474px;
$new-message-green-big-image: '../images/sprite.png';
$new-message-green-big: (411px, 239px, -411px, -239px, 40px, 40px, 513px, 474px, '../images/sprite.png', 'new_message_green__big', );
$resources-1-name: 'resources_1';
$resources-1-x: 365px;
$resources-1-y: 320px;
$resources-1-offset-x: -365px;
$resources-1-offset-y: -320px;
$resources-1-width: 28px;
$resources-1-height: 23px;
$resources-1-total-width: 513px;
$resources-1-total-height: 474px;
$resources-1-image: '../images/sprite.png';
$resources-1: (365px, 320px, -365px, -320px, 28px, 23px, 513px, 474px, '../images/sprite.png', 'resources_1', );
$resources-2-name: 'resources_2';
$resources-2-x: 327px;
$resources-2-y: 320px;
$resources-2-offset-x: -327px;
$resources-2-offset-y: -320px;
$resources-2-width: 33px;
$resources-2-height: 24px;
$resources-2-total-width: 513px;
$resources-2-total-height: 474px;
$resources-2-image: '../images/sprite.png';
$resources-2: (327px, 320px, -327px, -320px, 33px, 24px, 513px, 474px, '../images/sprite.png', 'resources_2', );
$resources-3-name: 'resources_3';
$resources-3-x: 490px;
$resources-3-y: 68px;
$resources-3-offset-x: -490px;
$resources-3-offset-y: -68px;
$resources-3-width: 23px;
$resources-3-height: 23px;
$resources-3-total-width: 513px;
$resources-3-total-height: 474px;
$resources-3-image: '../images/sprite.png';
$resources-3: (490px, 68px, -490px, -68px, 23px, 23px, 513px, 474px, '../images/sprite.png', 'resources_3', );
$resources-4-name: 'resources_4';
$resources-4-x: 490px;
$resources-4-y: 96px;
$resources-4-offset-x: -490px;
$resources-4-offset-y: -96px;
$resources-4-width: 22px;
$resources-4-height: 24px;
$resources-4-total-width: 513px;
$resources-4-total-height: 474px;
$resources-4-image: '../images/sprite.png';
$resources-4: (490px, 96px, -490px, -96px, 22px, 24px, 513px, 474px, '../images/sprite.png', 'resources_4', );
$resources-5-name: 'resources_5';
$resources-5-x: 180px;
$resources-5-y: 372px;
$resources-5-offset-x: -180px;
$resources-5-offset-y: -372px;
$resources-5-width: 28px;
$resources-5-height: 23px;
$resources-5-total-width: 513px;
$resources-5-total-height: 474px;
$resources-5-image: '../images/sprite.png';
$resources-5: (180px, 372px, -180px, -372px, 28px, 23px, 513px, 474px, '../images/sprite.png', 'resources_5', );
$resources-6-name: 'resources_6';
$resources-6-x: 96px;
$resources-6-y: 447px;
$resources-6-offset-x: -96px;
$resources-6-offset-y: -447px;
$resources-6-width: 28px;
$resources-6-height: 26px;
$resources-6-total-width: 513px;
$resources-6-total-height: 474px;
$resources-6-image: '../images/sprite.png';
$resources-6: (96px, 447px, -96px, -447px, 28px, 26px, 513px, 474px, '../images/sprite.png', 'resources_6', );
$tower-name: 'tower';
$tower-x: 166px;
$tower-y: 214px;
$tower-offset-x: -166px;
$tower-offset-y: -214px;
$tower-width: 45px;
$tower-height: 44px;
$tower-total-width: 513px;
$tower-total-height: 474px;
$tower-image: '../images/sprite.png';
$tower: (166px, 214px, -166px, -214px, 45px, 44px, 513px, 474px, '../images/sprite.png', 'tower', );
$tower-hover-name: 'tower_hover';
$tower-hover-x: 114px;
$tower-hover-y: 214px;
$tower-hover-offset-x: -114px;
$tower-hover-offset-y: -214px;
$tower-hover-width: 47px;
$tower-hover-height: 45px;
$tower-hover-total-width: 513px;
$tower-hover-total-height: 474px;
$tower-hover-image: '../images/sprite.png';
$tower-hover: (114px, 214px, -114px, -214px, 47px, 45px, 513px, 474px, '../images/sprite.png', 'tower_hover', );
$troops-btn-name: 'troops_btn';
$troops-btn-x: 411px;
$troops-btn-y: 0px;
$troops-btn-offset-x: -411px;
$troops-btn-offset-y: 0px;
$troops-btn-width: 40px;
$troops-btn-height: 46px;
$troops-btn-total-width: 513px;
$troops-btn-total-height: 474px;
$troops-btn-image: '../images/sprite.png';
$troops-btn: (411px, 0px, -411px, 0px, 40px, 46px, 513px, 474px, '../images/sprite.png', 'troops_btn', );
$troops-btn-red-name: 'troops_btn_red';
$troops-btn-red-x: 411px;
$troops-btn-red-y: 51px;
$troops-btn-red-offset-x: -411px;
$troops-btn-red-offset-y: -51px;
$troops-btn-red-width: 40px;
$troops-btn-red-height: 46px;
$troops-btn-red-total-width: 513px;
$troops-btn-red-total-height: 474px;
$troops-btn-red-image: '../images/sprite.png';
$troops-btn-red: (411px, 51px, -411px, -51px, 40px, 46px, 513px, 474px, '../images/sprite.png', 'troops_btn_red', );
$user-1-name: 'user_1';
$user-1-x: 456px;
$user-1-y: 36px;
$user-1-offset-x: -456px;
$user-1-offset-y: -36px;
$user-1-width: 29px;
$user-1-height: 30px;
$user-1-total-width: 513px;
$user-1-total-height: 474px;
$user-1-image: '../images/sprite.png';
$user-1: (456px, 36px, -456px, -36px, 29px, 30px, 513px, 474px, '../images/sprite.png', 'user_1', );
$user-1-hover-name: 'user_1_hover';
$user-1-hover-x: 266px;
$user-1-hover-y: 214px;
$user-1-hover-offset-x: -266px;
$user-1-hover-offset-y: -214px;
$user-1-hover-width: 32px;
$user-1-hover-height: 34px;
$user-1-hover-total-width: 513px;
$user-1-hover-total-height: 474px;
$user-1-hover-image: '../images/sprite.png';
$user-1-hover: (266px, 214px, -266px, -214px, 32px, 34px, 513px, 474px, '../images/sprite.png', 'user_1_hover', );
$user-2-name: 'user_2';
$user-2-x: 140px;
$user-2-y: 127px;
$user-2-offset-x: -140px;
$user-2-offset-y: -127px;
$user-2-width: 27px;
$user-2-height: 21px;
$user-2-total-width: 513px;
$user-2-total-height: 474px;
$user-2-image: '../images/sprite.png';
$user-2: (140px, 127px, -140px, -127px, 27px, 21px, 513px, 474px, '../images/sprite.png', 'user_2', );
$user-2-hover-name: 'user_2_hover';
$user-2-hover-x: 291px;
$user-2-hover-y: 320px;
$user-2-hover-offset-x: -291px;
$user-2-hover-offset-y: -320px;
$user-2-hover-width: 31px;
$user-2-hover-height: 27px;
$user-2-hover-total-width: 513px;
$user-2-hover-total-height: 474px;
$user-2-hover-image: '../images/sprite.png';
$user-2-hover: (291px, 320px, -291px, -320px, 31px, 27px, 513px, 474px, '../images/sprite.png', 'user_2_hover', );
$user-3-name: 'user_3';
$user-3-x: 490px;
$user-3-y: 0px;
$user-3-offset-x: -490px;
$user-3-offset-y: 0px;
$user-3-width: 23px;
$user-3-height: 30px;
$user-3-total-width: 513px;
$user-3-total-height: 474px;
$user-3-image: '../images/sprite.png';
$user-3: (490px, 0px, -490px, 0px, 23px, 30px, 513px, 474px, '../images/sprite.png', 'user_3', );
$user-3-hover-name: 'user_3_hover';
$user-3-hover-x: 0px;
$user-3-hover-y: 408px;
$user-3-hover-offset-x: 0px;
$user-3-hover-offset-y: -408px;
$user-3-hover-width: 28px;
$user-3-hover-height: 34px;
$user-3-hover-total-width: 513px;
$user-3-hover-total-height: 474px;
$user-3-hover-image: '../images/sprite.png';
$user-3-hover: (0px, 408px, 0px, -408px, 28px, 34px, 513px, 474px, '../images/sprite.png', 'user_3_hover', );
$user-4-name: 'user_4';
$user-4-x: 144px;
$user-4-y: 372px;
$user-4-offset-x: -144px;
$user-4-offset-y: -372px;
$user-4-width: 31px;
$user-4-height: 25px;
$user-4-total-width: 513px;
$user-4-total-height: 474px;
$user-4-image: '../images/sprite.png';
$user-4: (144px, 372px, -144px, -372px, 31px, 25px, 513px, 474px, '../images/sprite.png', 'user_4', );
$user-4-hover-name: 'user_4_hover';
$user-4-hover-x: 411px;
$user-4-hover-y: 322px;
$user-4-hover-offset-x: -411px;
$user-4-hover-offset-y: -322px;
$user-4-hover-width: 37px;
$user-4-hover-height: 31px;
$user-4-hover-total-width: 513px;
$user-4-hover-total-height: 474px;
$user-4-hover-image: '../images/sprite.png';
$user-4-hover: (411px, 322px, -411px, -322px, 37px, 31px, 513px, 474px, '../images/sprite.png', 'user_4_hover', );
$user-5-name: 'user_5';
$user-5-x: 490px;
$user-5-y: 35px;
$user-5-offset-x: -490px;
$user-5-offset-y: -35px;
$user-5-width: 19px;
$user-5-height: 28px;
$user-5-total-width: 513px;
$user-5-total-height: 474px;
$user-5-image: '../images/sprite.png';
$user-5: (490px, 35px, -490px, -35px, 19px, 28px, 513px, 474px, '../images/sprite.png', 'user_5', );
$user-5-hover-name: 'user_5_hover';
$user-5-hover-x: 456px;
$user-5-hover-y: 71px;
$user-5-hover-offset-x: -456px;
$user-5-hover-offset-y: -71px;
$user-5-hover-width: 24px;
$user-5-hover-height: 34px;
$user-5-hover-total-width: 513px;
$user-5-hover-total-height: 474px;
$user-5-hover-image: '../images/sprite.png';
$user-5-hover: (456px, 71px, -456px, -71px, 24px, 34px, 513px, 474px, '../images/sprite.png', 'user_5_hover', );
$vk-name: 'vk';
$vk-x: 0px;
$vk-y: 0px;
$vk-offset-x: 0px;
$vk-offset-y: 0px;
$vk-width: 84px;
$vk-height: 83px;
$vk-total-width: 513px;
$vk-total-height: 474px;
$vk-image: '../images/sprite.png';
$vk: (0px, 0px, 0px, 0px, 84px, 83px, 513px, 474px, '../images/sprite.png', 'vk', );
$spritesheet-width: 513px;
$spritesheet-height: 474px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-down, $arrow-down-white, $b-1, $b-10, $b-10-h, $b-11, $b-11-h, $b-1-h, $b-2, $b-2-h, $b-3, $b-3-h, $b-4, $b-4-h, $b-5, $b-5-h, $b-6, $b-6-h, $b-7, $b-7-h, $b-8, $b-8-h, $b-9, $b-9-h, $bg-ic, $chat, $chat-1, $chat-1-hover, $chat-2, $chat-2-hover, $chat-small, $edit, $edit-hover, $facebook, $help-ico, $help-ico-hover, $help-ico-small, $help-ico-small-hover, $holder-ic, $ic-1, $ic-1-hover, $ic-2, $ic-2-hover, $ic-3, $ic-3-hover, $ic-4, $ic-4-hover, $ic-5, $ic-5-hover, $ic-6, $ic-6-hover, $ic-7, $ic-7-hover, $ic-8, $ic-8-hover, $ic-9, $ic-9-hover, $icn-gem, $mn-item1, $mn-item1-hover, $mn-item2, $mn-item2-hover, $mn-item3, $mn-item3-hover, $mn-item4, $mn-item4-hover, $mn-item5, $mn-item5-hover, $mn-item6, $mn-item6-hover, $mn-item7, $mn-item7-hover, $mn-item8, $mn-item8-hover, $mn-item9, $mn-item9-hover, $modal-close, $new-message, $new-message-big, $new-message-green, $new-message-green-big, $resources-1, $resources-2, $resources-3, $resources-4, $resources-5, $resources-6, $tower, $tower-hover, $troops-btn, $troops-btn-red, $user-1, $user-1-hover, $user-2, $user-2-hover, $user-3, $user-3-hover, $user-4, $user-4-hover, $user-5, $user-5-hover, $vk, );
$spritesheet: (513px, 474px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
